@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


.nav__logo
{
  font-size: 45px;
  font-family: 'Lobster', cursive;
  text-decoration: none;
  color: #000;
}

.nav__logo:hover
{
  text-decoration: none;
  color: #e4bb23;
}

.nav__logo span
{
  color: #e4bb23;
}