{% extends 'dashboard/base.html' %}
{% load static %}
{% load format_duration %}

{% block title %}Momentum | Management Dashboard gestão movie   {% endblock %}


{% block dashboard %}



<style type="text/css">
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.btn-quiz
{
    padding: 7px 60px;
    background-color: transparent;
    color: #000;
    border: 1px solid #6777ef;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;    
    margin-top: 19px;
}

.btn-quiz:hover
{
    background-color: #6777ef;
    color: #fff;
}


.titulo span
{
    font-size: 28px;
    color:  #008066;
    font-weight: 700;
}

.perguntas-respostas
{
    position: relative;
    top: 76px;
}

.informativo{

    position: absolute;
    right: 0px;
    top: 0px;
    padding: 12px 15px;
    border-radius: 0 0 0 26px;
    font-size: 14px;
}

.informativo i
{
    font-size: 28px;
}


.card-title{

    font-weight: bold;
}

.momentum
{
    font-family: 'Lobster', cursive;
    font-kerning: 19px;
}

.momentum span
{
    color: #e4bb23;
}
</style>

<div style="height: 110px!important;" class="section-header">
    <h5 style="margin-top: -28px; color:#cccccc;" class="position-absolute ml-2 mb-4">Livro</h5>
    <br>
    <h1 style="color: #8898aa; font-size: 40px;" class="mt-4 ml-2">Teste de conhecimento</h1>
    <div class="section-header-breadcrumb">       
        <i style="font-size: 70px; color: #000066;" class="fas fa-brain"></i>
    </div>
</div>

<div class="section-body"> 
    <div class="row">            
        <div class="col-md-12">
           <a style="position: relative;  cursor: pointer; z-index: 9999999999;" href="{% url 'livros:leitura_details' leitura.id %}">
                <div class=" float-right icon-top text-dark add-despesas " title="Voltar">
                    <i style="font-size: 40px;" class="fas fa-reply-all"></i>
                </div>
            </a> 
        </div>    
        <div class="col-md-12">
         <div style="margin-top: 57px;" class="card card-leitura shadow rounded ">
          <div class="row">
              <div  class="col-2 float-left">
                 <div style="position: relative; margin-top: -100px; width: 160px; right: 35px;" class="image"> <img src="{{ leitura.livro.Poster_url }}" class="rounded" width="155"> </div>
              </div>
              <div class="col-10">
                  <div class="row">
                      <div class="col-7 float-left">
                         <h4 class="mb-0 mt-0"> {{ leitura.livro |truncatechars:28 }}</h4>
                      </div>
                      <div class="col-5 float-right mt-0">                                               
                        <a href="#" class="mr-2 badge badge-primary btn-xs pull-right">{{ questionario.topic }}</a>                
                      </div>
                  </div> 
                  <div class="row">
                    <div class="col-md-8 float-left">
                        <br>
                        <span class="mt-5 mb-5">
                            O grau de dificuldade das questões:
                            {% if questionario.difficulty  == 'fácil' %}
                            <span class="mr-2 badge badge-success btn-xs ml-2">{{ questionario.difficulty }}</span>
                            {% elif questionario.difficulty  == 'medium' %}
                            <span class="mr-2 badge badge-warning btn-xs ml-2">{{ questionario.difficulty }}</span>
                            {% elif questionario.difficulty  == 'dificil' %}
                            <span class="mr-2 badge badge-danger btn-xs ml-2">{{ questionario.difficulty }}</span>
                            {% endif %}
                        </span> 
                        <br>                     
                        <br>
                      <a href="#">A pontuação total para passar: <span class="text-dark mt-2">{{ questionario.required_score_to_pass }}%</span></a>
                      <br>
                      <a href="#">A porcetagem de acerto é: <span class="text-dark">{{ questionario.media }}%</span></a>
                    </div>
                    <div class="col-md-4 float-right mt-5">
                      <div class="d-flex flex-column number float-right"> <span class="followers"><i class="far fa-clock"></i> Temporizador</span> <span  class="time">00:00:00</span> <span id="screen"></span></div>
                    </div>
                  </div>
              </div>
          </div>
       </div>
        </div>   
      <br>
      <br>
</div>


<div class="section-body mb-5 mt-5 perguntas-respostas"> 
    <h4 class="heading-extra-margin-bottom mt-5">Perguntas / Respostas</h4>
    
    {% if questoes %}
    <form action="#" method="post">
    {% csrf_token %}
    {% for questao in questoes %}    
    <div class="questoes mt-5 mb-5">
        <div class="titulo ">
            <span>{{ questao.text }}</span>
        </div>
        {% for pergunta in perguntas %}
            {% if pergunta.question_id == questao.id %}
            <div class="perguntas ml-4">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" name="perguntas" value="{{ pergunta.text }}" class="custom-control-input" id="{{ pergunta.id }}">
                    <label class="custom-control-label" for="{{ pergunta.id }}">{{ pergunta.text }}</label>
                </div>
            </div>
            {% endif %}
        {% endfor %}        
    </div>   
    {% endfor %}
    <input class="btn-quiz" type="submit" name="" value="Concluir">
    </form>
    {% else %}
    <div class="card card-leitura shadow rounded ">
        <div class="card-body">
              <span class="informativo bg-warning text-white"><i class="fas fa-info"></i></span>
              <h3 class="card-title">Informativo</h3>
              <h6 class="card-subtitle mb-2 text-muted">Questionário</h6>
              <p class="card-text">{{ request.user | title }} o questionário do <stron class = 'text-success font-weight-bold '>{{ questionario.name }}</stron> será com {{ questionario.number_of_questions }} questões ques estão sendo elaboradas.</p>
              <p>O grupo <strong class="momentum">Momentum<span>.</span></strong> abradeçe pela sua compreensão!</p>
        </div>
    </div>
    {% endif %}    
</div>
<br>
<br>
<br>
<br>

<!--


<div class="section-body mb-5"> 
    <h4 class="heading-extra-margin-bottom mt-5">Perguntas / Respostas</h4>
    <div class="question-number">
        
    </div>
    <div class="question-text">
        
    </div>
    <div class="option-container">
        
    </div>
    <div class="next-question-btn">
        <button type="button" class="btn-quiz" onclick="next()">Next</button>
    </div>
    <div class="answer-indicator">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

-->

<script type="text/javascript">    


    const quiz = JSON.parse('{{ quiz |safe }}');

    console.log(quiz)



    const quantidade = document.querySelector('.question-number');
    const titulo = document.querySelector('.question-text');
    const perguntas  = document.querySelector('.option-container');


    let questionCounter = 0;
    let currentQuestion;
    let availableQuestions = [];
    let availableOptions = [];


    function setAvailableQuestions(){


        const totalQuestion = quiz.length;
        for(let i = 0; i < totalQuestion; i++){
            availableQuestions.push(quiz[i])
        }

    }

    // definindo o quantidade das pergunta.
    function getNewQuestion(){

       //definindo o número da perguntas
       quantidade.innerHTML = 'O numero de questões são de ' + (questionCounter + 1) + ' até ' + quiz.length;

       //set question text
       // get random question
       const questionIndex = availableQuestions[Math.floor(Math.random() * availableQuestions.length)]
       currentQuestion = questionIndex;
       titulo.innerHTML = currentQuestion.q;

       //obtendo a posição das perguntas disponível no array da função questionIndex  
       const index1 = availableQuestions.indexOf(questionIndex);

       availableQuestions.splice(index1, 0)      

      

       //remove the 'questionIndex' from the availableQuestion Array, so that the question does not repeat
       //setAvailableQuestions.splice(index1,1);


       // set options
       // get the length of options
       const optionLen = currentQuestion.options.length

       //get options into availableOptions Array
       for( let i = 0; i < optionLen; i++){
        availableOptions.push(i)
       }
       //Criando a div das perguntas
       for(let i = 0; i < optionLen; i++){
        const option = document.createElement('div');
        option.innerHTML = currentQuestion.options[i];
        option.id = i;
        option.className = 'option';
        perguntas.appendChild(option)
       }

       questionCounter++
    }

    function next(){

        if(questionCounter == quiz.length){
            console.log('quiz over')
        }
        else{
            getNewQuestion();
        }
    }

    window.onload = function(){

        //primeiro definimos todas as perguntas em array da funçõa availableQuestion 
        setAvailableQuestions();

        // segundo vamos chamar função getNewQuestion(); 
        getNewQuestion();
    } 

    


   
</script>

<script type="text/javascript">
      
</script>

{% endblock %}
