
.card__footer {
    position: absolute;
    bottom: 0;
    padding-top: 1rem;
    padding-right: 1.25rem;
    padding-bottom: 1rem;
    width: 100%;
  }
  
  .list {
    display: flex;
  } 


  .list--info {
    padding-left: 1rem;
    float: right;
    justify-content: space-between;
    width: 50%;
  }
  .list--info li 
  {
      font-size: .85rem;
      list-style: none;
      text-decoration: none;
  }
    
  .list--info  li:nth-of-type(n+2) 
  {
      margin-left: 1rem;
   }
  

.progression-studios-slider-description
   {
     color: #fff!important;
   }
  

   .title i

   {
     font-size: 28px;
     margin: 0px 10px 10px 0px;
     color: #3db13d;
   }

.video-search-header-buttons  .input-search
 {
    background-color: #3db13d !important;
    box-shadow: 0px 12px 28px rgba(61,177,61, 0.38);
    text-align: center;
 }


 .rating-pro label button
 {
   display: none!important ;
 }




 .courses-container {
	
}

.course {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 100%;
	margin: 20px;
	overflow: hidden;
	width: 700px;
}

.course h6 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.course h2 {
	letter-spacing: 1px;
	margin: 10px 0;
}

.course-preview {
	background-color: #2A265F;
	color: #fff;
	padding: 30px;
	max-width: 250px;
}

.course-preview a {
	color: #fff;
	display: inline-block;
	font-size: 12px;
	opacity: 0.6;
	margin-top: 30px;
	text-decoration: none;
}

.course-info {
	padding: 30px;
	position: relative;
	width: 100%;
}

.progress-container {
	position: absolute;
	top: 30px;
	right: 30px;
	text-align: right;
	width: 150px;
}

.progress {
	background-color: #ddd;
	border-radius: 3px;
	height: 5px;
	width: 100%;
}

.progress::afters {
	border-radius: 3px;
	background-color: #2A265F;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 5px;
	width: 66%;
}

.progress-text {
	font-size: 10px;
	opacity: 0.6;
	letter-spacing: 1px;
}

.btn {
	background-color: #2A265F;
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 16px;
	padding: 12px 25px;
	position: absolute;
	bottom: 30px;
	right: 30px;
	letter-spacing: 1px;
}

/* SOCIAL PANEL CSS */
.social-panel-container {
	position: fixed;
	right: 0;
	bottom: 80px;
	transform: translateX(100%);
	transition: transform 0.4s ease-in-out;
}

.social-panel-container.visible {
	transform: translateX(-10px);
}

.social-panel {	
	background-color: #fff;
	border-radius: 16px;
	box-shadow: 0 16px 31px -17px rgba(0,31,97,0.6);
	border: 5px solid #001F61;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Muli';
	position: relative;
	height: 169px;	
	width: 370px;
	max-width: calc(100% - 10px);
}

.social-panel button.close-btn {
	border: 0;
	color: #97A5CE;
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	top: 5px;
	right: 5px;
}

.social-panel button.close-btn:focus {
	outline: none;
}

.social-panel p {
	background-color: #001F61;
	border-radius: 0 0 10px 10px;
	color: #fff;
	font-size: 14px;
	line-height: 18px;
	padding: 2px 17px 6px;
	position: absolute;
	top: 0;
	left: 50%;
	margin: 0;
	transform: translateX(-50%);
	text-align: center;
	width: 235px;
}

.social-panel p i {
	margin: 0 5px;
}

.social-panel p a {
	color: #FF7500;
	text-decoration: none;
}

.social-panel h4 {
	margin: 20px 0;
	color: #97A5CE;	
	font-family: 'Muli';	
	font-size: 14px;	
	line-height: 18px;
	text-transform: uppercase;
}

.social-panel ul {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.social-panel ul li {
	margin: 0 10px;
}

.social-panel ul li a {
	border: 1px solid #DCE1F2;
	border-radius: 50%;
	color: #001F61;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	text-decoration: none;
}

.social-panel ul li a:hover {
	border-color: #FF6A00;
	box-shadow: 0 9px 12px -9px #FF6A00;
}

.floating-btn {
	border-radius: 26.5px;
	background-color: #001F61;
	border: 1px solid #001F61;
	box-shadow: 0 16px 22px -17px #03153B;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	padding: 12px 20px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
}

.floating-btn:hover {
	background-color: #ffffff;
	color: #001F61;
}

.floating-btn:focus {
	outline: none;
}

.floating-text {
	background-color: #001F61;
	border-radius: 10px 10px 0 0;
	color: #fff;
	font-family: 'Muli';
	padding: 7px 15px;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	z-index: 998;
}

.floating-text a {
	color: #FF7500;
	text-decoration: none;
}

@media screen and (max-width: 980px)
{

	.followers
	{
		font-size: 12px;
	}


}


@media screen and (max-width: 480px) {

	.social-panel-container.visible {
		transform: translateX(0px);
	}
	
	.floating-btn {
		right: 10px;
	}
}



@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;700&display=swap');

.sidebar-brand a img
{
  height: 40px;
  
}

.online
{
  box-shadow: 0px 0px  12px 4px rgba(0,255,0, 1)!important;
  border-radius: 50%!important;
  margin-right: 10px;
}

.off
{
  box-shadow: 0px 0px  12px 4px rgba(0,0,0,0.9)!important;
  border-radius: 50%!important;
  margin-right: 10px;
}


.card-stats .bg-background
{
  background-color:  #F4BD76!important;
}




/*-----------------------  Table ------------------*/
.content-table
{
  width: 100%;
}


.content-table h4 {
  text-align: left;
  color: #6777ef;
  
}
.content-table .content-footer p {
	color: #6d6d6d;
    font-size: 12px;
    text-align: center;
}
.content-table .content-footer p a {
	color: inherit;
	font-weight: bold;
}




/*---------------- carrosuel  Produtos ------*/
.product-item-modifier-left
{
  width: 50%!important;
  float: left;
}
.product-item-modifier-right
{
  width: 50%;
  float: right;
}


/*---------------- End Carrosuel  Produtos ------*/


/*---------------- Banner Statistic  ------*/

.slider-outer .statistic .statistic-title 
{
  display: block;
  position: relative;
  font-size: 17px;
  font-weight: 100;
  z-index: 11;
  margin-top: -10px;
  font-weight: 700;
  color: #cccccc;
}

.slider-outer .title-statistic-h2
{
  color:  #8898aa;
  font-size: 34px;
}

.section-nav
{
    width: 100%;
}


.slider-outer .statistic i
{
    display: block;
    position: absolute;
    float: right
    ;
    top: 0; 
    margin-top: 19px; 
    font-size: 70px;
    color: #F4BD76;
    z-index: 11;
    
}



/*---------------- End Banner Statistic  ------*/




.card__footer {
    position: absolute;
    bottom: 0;
    padding-top: 1rem;
    padding-right: 1.25rem;
    padding-bottom: 1rem;
    width: 100%;
  }
  
  .list {
    display: flex;
  } 


  .list--info {
    padding-left: 1rem;
    float: right;
    justify-content: space-between;
    width: 50%;
  }
  .list--info li 
  {
      font-size: .85rem;
      list-style: none;
      text-decoration: none;
  }
    
  .list--info  li:nth-of-type(n+2) 
  {
      margin-left: 1rem;
   }
  

.progression-studios-slider-description
   {
     color: #fff!important;
   }
  

   .title i

   {
     font-size: 28px;
     margin: 0px 10px 10px 0px;
     color: #3db13d;
   }

.video-search-header-buttons  .input-search
 {
    background-color: #3db13d !important;
    box-shadow: 0px 12px 28px rgba(61,177,61, 0.38);
    text-align: center;
 }


 .rating-pro label button
 {
   display: none!important ;
 }