
.video-skrn
{
    width: 100%;
    background-color: #161521;
}

#navbar-top
{
    width: 100%;
    height: 79px;
    background-color: #fff;
    box-shadow: 0px 0px 12px #3db13d;
}

.player
{
    width: 100%;
    height: 600px;
    background-color: #161521;
}

.link
{
    float: left;
    width: 100%;
    margin-top: 10px;
    
}

.link .icon
{
    width: 10%;
    float: left;
    right: 0;
    font-size: 35px!important;
    color: #161521;
}

.link .icon:hover
{
    color: #3db13d;
    
}

.link span
{
    position: relative;
    width: 90%;
    float: right;
    left: 10px;
    font-weight: 400;
    font-size: 19px;
    margin-top: 11px;
    color: #161521;
}



.logotipo
{
    float: right;
    width: 100%;
    position: relative;

}

.logotipo img
{
    width: 150px;
    margin-top: 10px;
    margin-left: 70px;
}



iframe
{
    width: 100%;
    height: 540px;
    
}


@media only screen and (max-width: 900px) {

    .logotipo img {

        width: 140px;
    }


    .link span
    {
        left: 27px;
    }
}


@media only screen and (max-width: 600px) {

    .logotipo img {

        width: 140px;
    }


    .link span
    {
        left: 27px;
    }
}



@media only screen and (max-width: 480px) {
    
    .logotipo img {

    width: 100px;
    margin-top: 19px;
    margin-left: 0;
    }

    .link 
    {
        width: 56%;
    
    }
    .link span
    {
        left: 27px;
    }
}