{% extends 'dashboard/base.html' %}
{% load static %}
{% load format_duration %}

{% block title %}Momentum | Management Dashboard gestão movie   {% endblock %}


{% block dashboard %}
<style type="text/css">

.capitulo
{
    font-size: 28px;
    color: #000;
}

.capitulo i
{
    font-size: 28px;
    margin-right: 10px;
    color: #e4bb23;
}


.informativo{

    position: absolute;
    right: 0px;
    top: 0px;
    padding: 12px 15px;
    border-radius: 0 0 0 26px;
    font-size: 14px;
}


.perguntas-respostas
{
    position: relative;
    margin-top: 176px;
    margin-bottom: 110px;
}

	.chapter
{
    position:relative;
    background: #fff;
    padding:100px 40px 60px;
    box-shadow: 0 15px 45px rgba(0,0,0,.2);
}

.chapter:before
{
    content:" ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:  #e4bb23;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;

}

.chapter:hover:before
{
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
}

.chapter h2
{
    position: absolute;
    left: 40px;
    top: 60px;
    font-size: 4rem;
    font-weight: 800;
    z-index: 1;
    opacity: 0.5;
    transition: 0.5s;
}



.chapter:hover h2
{
    opacity: 1;
    color: #fff;
    transform: translateY(-40px);
}


.chapter h3
{
    position: relative;
    font-size: 1.5rem;
    z-index: 2;
    color: #333;
    transition: 0.5s;
}

.chapter p
{
    position: relative;    
    z-index: 2;
    color: #555;
    text-align: justify;
    transition: 0.5s;
}

.chapter:hover h2,
.chapter:hover h3,
.chapter:hover p

{
    
    color: #fff;

    
}



.leitura
{
    position:relative;
    float: right;
    color: #555;
    z-index: 2;
    font-size: 15px;
    padding: 7px 28px;
    border: 1px solid #555;
    border-radius: 7px;
}


.chapter:hover .leitura
{
    color: #fff;
    border: 1px solid #fff;
}


.concluida
{
    background: #00cc00!important;
    border: none;
    color: #fff;
}


.chapter:hover .concluida
{
    background: transparent!important;
    border:1px solid  #fff!important;
    color: #fff!important;
}
.number2
{
    font-size: 28px;
}

</style>
<div style="height: 110px!important;" class="section-header">
    <h5 style="margin-top: -28px; color:#cccccc;" class="position-absolute ml-2 mb-4">Livro</h5>
    <br>
    <h1 style="color: #8898aa; font-size: 40px;" class="mt-4 ml-2">{{ leitura.livro |truncatechars:28 }}</h1>
    <div class="section-header-breadcrumb">       
        <i style="font-size: 70px; color: #000066;" class="fab fa-leanpub"></i>
    </div>
    <br>
    
</div>

<div class="section-body">
    <a style="position: relative;  cursor: pointer; z-index: 9999999999;" href="{% url 'livros:leitura_details' leitura.id %}">
        <div class=" float-left icon-top text-dark add-despesas " data-toggle="tooltip" data-placement="top" title="Voltar">
            <i style="font-size: 40px;" class="fas fa-reply-all"></i>
        </div>
    </a>
    {% if paginas %}
     <a style="position: relative;  cursor: pointer; z-index: 9999999999;" href="{% url 'livros:create_paginas' leitura.id %}">
        <div class=" float-right icon-top text-dark add " data-toggle="tooltip" data-placement="top" title="adicionar capitulos">
            <i style="font-size: 40px;" class="fas fa-plus"></i>
        </div>
    </a>
    {% endif %}
    <br>
   <h2 class="section-title">Informações do livro</h2>
        <p class="section-lead">
          Adicionar os dados da nova despesa, todos os dados devem ser legitimo para o calculo correto na contabilidade.
        </p> 

<div class="row">            
           
        <div class="col-md-12">
         <div style="margin-top: 57px;" class="card card-leitura shadow rounded ">
          <div class="row">
              <div  class="col-2 float-left">
                 <div style="position: relative; margin-top: -100px; width: 160px; right: 35px;" class="image"> <img src="{{ leitura.livro.capa}}" class="rounded" width="155"> </div>
              </div>
              <div class="col-10">
                  <div class="row">
                      <div class="col-7 float-left">
                         <h4 class="mb-0 mt-0"> {{ leitura.livro |truncatechars:40 }}</h4>
                      </div>
                   
                  </div> 
                  <div class="row">
                    <div class="col-md-8 float-left">
                      <div style="width: 70%; height: 15px;" class="progress mt-3">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: {{ leitura.complete_per }}%;" aria-valuenow="{{ leitura.complete_per}}" aria-valuemin="0" aria-valuemax="100">{{ leitura.complete_per}}%</div>
                    </div>
                    <br>
                      <a href="#">Total de Paginas: <span class="text-dark">{{ leitura.paginas_restante }} / {{ leitura.paginas }}</span></a>
                    </div>
                    <div class="col-md-4 float-right mt-5">
                      <div class="d-flex flex-column number float-right"> <span class="followers">Total de horas de leitura</span> <span  class="number2 clock">{{ leitura.duracao | duration  }}</span> <span id="screen"></span></div>
                    </div>
                  </div>
              </div>
          </div>
       </div>
        </div>   
      <br>
      <br>
</div>

</div>

<div class="section-body  mt-5"> 
    <h2 class="section-title">Capitulos do livro</h2>
   <div class="row mt-5 mb-5">
   	{% if paginas %}
        {% for pagina in paginas %}
        <div class="col-4 mb-5">
	        <a href="">
	            <div class="chapter">
	                <h2>{{ pagina.order }}</h2>
	                <h3>{{ pagina.titulo  |truncatechars:15 }}</h3>
	                <p>
	                    Conforme você lê mais, é possível criar padrões de organização das palavras em sua mente.
	                </p>
                    {% if pagina.leitura == True %}	               
                        <span class="leitura concluida">leitura Completa</span>                 
                    {% else %}
                    <a href="{% url 'livros:texto-pagina' pagina.id %}">
                        <span class="leitura">Continuar a leitura</span>
                    </a>
                    {% endif %} 
	            </div>
	        </a>
	    </div>
        {% endfor %}
	{% else %}
    <div class="col-12 mb-5">
        <div class="card card-leitura shadow rounded ">
            <div class="card-body">
                <span class="informativo bg-warning text-white"><i class="fas fa-info"></i></span>
                <h3 class="card-title">Informativo</h3>            
                <p class="card-text">{{ request.user | title  }} o livro <stron class = 'text-success font-weight-bold '>{{ leitura.livro }}</stron> ainda não tem Capitulos adiconado para leitura.</p>
               <a href="{% url 'livros:create_paginas' leitura.id %}" class="float-right"><button class="btn btn-outline-success">Adicione o 1º Capitulo</button></a> 
            </div>
        </div>
    </div>
    {% endif %}
   </div>
</div>
</div>
{% endblock %}





















