{% extends 'dashboard/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %}Momentum | Management Dashboard gestão movie   {% endblock %}


{% block dashboard %}

<style type="text/css">

p
{
    text-align: justify;
    font-family: Bookman Old Style;
    background: #f4f6f9!important;
    font-size: 17px;
}

table
{
    width: 100%;
}

td  p
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    

}

 
</style>

<div style="height: 110px!important;" class="section-header">
    <h5 style="margin-top: -28px; color:#cccccc;" class="position-absolute ml-2 mb-4">Capitulo</h5>
    <br>

    <h1 style="color: #8898aa; font-size: 40px;" class="mt-4 ml-2 bg-white">Nº {{ pagina.order }} - {{ pagina.titulo |truncatechars:28 }} </h1>
    <div class="section-header-breadcrumb">       
        <i style="font-size: 70px; color: #000066;" class="fas fa-volume-up"></i>
    </div>
    <br>
    
</div>
<div class="section-body">
    <a style="position: relative;  cursor: pointer; z-index: 9999999999;" href="{% url 'livros:leitura-paginas' leitura.id %}">
        <div class=" float-left icon-top text-dark add-despesas " data-toggle="tooltip" data-placement="top" title="Voltar">
            <i style="font-size: 40px;" class="fas fa-reply-all"></i>
        </div>
    </a>
    <br>
 <h2 class="section-title  ">Capitulo Nº <strong>{{ pagina.order}}</strong> do livro <strong class="text-success">{{ pagina.ebook }}</strong></h2>
    <p class="section-lead">
    Para você comecar a ler precisa adicionar capítulos, pode organizar o estilo e personalizar a fonte do texto.
    </p> 

</div>

 <div class="row">
    <div class="col-12 col-md-12 col-lg-12 conteudo">
        {{ pagina.texto | safe }}
    </div>
</div>
    <a href="{% url 'livros:paginas_conluida' pagina.id %}" class="mr-2 badge badge-success btn-xs pull-right">Página conluída</a>


{% endblock %}

