{% load static %}
<nav class="catalogo-menu">
    <div class="container">
        <ul class="catalogo-menu-lista">
            <li class="catalogo-menu-lista-item"><a href="{% url 'movie' %}">Filmes</a></li>
            <li class="catalogo-menu-lista-item"><a href="{% url 'cinema' %}">Nos Cinemas</a></li>
            <li class="catalogo-menu-lista-item"><a href="{% url 'breve' %}">Em breve</a></li>           
            <li class="catalogo-menu-lista-item"><a href="{% url 'trailler' %}">Traillers</a></li>
        </ul>
    </div>
</nav>
