{% extends 'dashboard/base.html' %}
{% load static %}


{% block title %}Momentum | Dashboard Profile   {% endblock %}


{% block dashboard %}
{{ block.super }}
<link rel="shortcut icon" href="{% static 'perfil/images/fav.jpg' %}">
<link rel="stylesheet" href="{% static 'perfil/css/fontawsom-all.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'perfil/css/style.css' %}" />


<div style="height: 110px!important;" class="section-header">
    <h5 style="margin-top: -28px; color:#cccccc;" class="position-absolute ml-2 mb-4">Livro</h5>
    <br>
    <h1 style="color: #8898aa; font-size: 40px;" class="mt-4 ml-2">Usuário</h1>
    <div class="section-header-breadcrumb">       
        <i style="font-size: 70px; color: #000066;" class="far fa-id-card"></i>
    </div>
</div>
<div class="section-body">
    <h2 class="section-title">Perfil de usuário</h2>
    <p class="section-lead">
        O perfil de usuário serve para auxiliar na criação lista dos melhores livros que usuário teve como definições da escolha dos livros para leitura.
    </p>
    <br>
     <div class="profile-box">
            <div class="top-cover">
                <div class="covwe-inn">
                    <div class="row no-margin">
                        <div class="col-md-3 img-c">
                            <img class="mt-2" style="border-radius: 50%; border: 7px solid #fff" src="{{ user.img.url }}" alt=""> 
                          </div>
                            <div class="col-md-9 tit-det p-5 text-white">
                            <h1 class="text-white h1">{{ user |title  }}/ Web Designer</h1>
                            <p style="font-size: 17px;">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                            </p>
                        </div>
                        </div>
                      
                    </div>
                </div>
            </div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Comentários</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#resume" role="tab" aria-controls="profile" aria-selected="false">Conhecimentos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#gallery" role="tab" aria-controls="profile" aria-selected="false">Leitura</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contato</a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <div class="row no-margin home-det">
                      <div class="col-md-4 big-img">
                         
                         <h4 class="ltitle">Categorias</h4>
                        <ul class="hoby row no-margin">
                          {% for categoria in categorias %}
                            <li><i class="{{ categoria.icone }} text-warning"></i> <br>
                              <span class="text-dark">{{ categoria.title |truncatechars:13}}</span>
                              </li>
                            
                            {% endfor %}
                        </ul>
                          <h4 class="ltitle">Referências</h4>

                        <div class="refer-cov">
                            
                            <p><b>Jonney Smith</b> CEO Casinocarol</p>
                            <span>Phone : +00 890 1232 8767</span>
                        </div>
                        <div class="refer-cov">
                           
                            <p> <b>Simon Shanu</b> System Administrator</p>
                            <span>Phone :  +00 890 1232 8767</span>
                        </div>
                        
                      </div>
                      <div class="col-md-8 home-dat">
                          <h2 class="rit-titl">Habilidades</h2>
                        <div class="profess-cover row no-margin">
                            <div class="col-md-6">
                                <div class=" prog-row row">
                                    <div class="col-sm-6">
                                        Photoshop
                                    </div>
                                    <div class="col-sm-6">
                                      <div class="progress mb-3" data-height="15">
										                   	<div class="progress-bar" role="progressbar" data-width="70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
										                   	</div>
										                  </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row prog-row">
                                    <div class="col-sm-6">
                                        PHP
                                    </div>
                                    <div class="col-sm-6">
                                      <div class="progress mb-3" data-height="15">
										                   	<div class="progress-bar" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
										                   	</div>
										                  </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="row prog-row">
                                    <div class="col-sm-6">
                                        Web Design
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="progress mb-3" data-height="15">
										                   	<div class="progress-bar" role="progressbar" data-width="28%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
										                   	</div>
										                  </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row prog-row">
                                    <div class="col-sm-6">
                                        Web Development
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="progress mb-3" data-height="15">
										                   	<div class="progress-bar" role="progressbar" data-width="60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
										                   	</div>
										                  </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                          <div class="links">
                          <div class="row ">
                              <div class="col-xl-6 col-md-12">
                                  <ul class="btn-link">
                                      <li>
                                          <a href=""><i class="fas fa-paper-plane"></i> Hire Me</a>
                                      </li>
                                      <li>
                                          <a href=""><i class="fas fa-cloud-download-alt"></i> Download Resume</a>
                                      </li>
                                  </ul>
                              </div>
                              <div class="col-xl-6 col-md-12">
                                  <ul class="social-link">
                                      <li><i class="fab fa-facebook-f"></i></li>
                                      <li><i class="fab fa-twitter"></i></li>
                                      <li><i class="fab fa-pinterest-p"></i></li>
                                      <li><i class="fab fa-linkedin-in"></i></li>
                                      <li><i class="fab fa-linkedin-in"></i></li>
                                      <li><i class="fab fa-youtube"></i></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <div class="jumbo-address">
                         <div class="row no-margin">
                                  <div class="col-lg-6 no-padding">

                                  <table class="addrss-list">
                                      <tbody><tr>
                                          <th>Position</th>
                                          <td>Freelance</td>
                                      </tr>
                                      <tr>
                                          <th>Nationality</th>
                                          <td>American</td>
                                      </tr>
                                      <tr>
                                          <th>Date of birth</th>
                                          <td>09-06-1989</td>
                                      </tr>
                                  </tbody></table>

                          </div>
                          <div class="col-lg-6 no-padding">
                               <table class="addrss-list">
                                      <tbody><tr>
                                          <th>Experiance</th>
                                          <td>5+ Years</td>
                                      </tr>
                                      <tr>
                                          <th>Website</th>
                                          <td>www.yourdomain.com</td>
                                      </tr>
                                      <tr>
                                          <th>Languages</th>
                                          <td>English,French,Germany</td>
                                      </tr>
                                  </tbody></table>
                          </div>
                         </div>

                      </div>
                      </div>
                  </div>
              </div>
              <div class="tab-pane fade exp-cover" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                  <div class="data-box">
                          <div class="sec-title">
                            <h2>Comentários <i style="font-size: 28px;" class="far fa-comment-alt text-primary"></i></h2>
                          </div>
                          <div class="container">
                          	<div class="row exp-row">
                               <h6>Business Development</h6>
                               <span>Microsoft</span>
                               <i>Apiral 2011 - Present</i> 
                               
                               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a urna posuere, aliquet elit in, fermentum ligula. Sed est augue, molestie sed tortor sed, posuere commodo lectus.</p>
                           </div>
                           <div class="row exp-row">
                               <h6>Business Development</h6>
                               <span>Microsoft</span>
                               <i>Apiral 2011 - Present</i> 
                               
                               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a urna posuere, aliquet elit in, fermentum ligula. Sed est augue, molestie sed tortor sed, posuere commodo lectus.</p>
                           </div>
                           <div class="row exp-row last">
                               <h6>Business Development</h6>
                               <span>Microsoft</span>
                               <i>Apiral 2011 - Present</i> 
                               
                               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a urna posuere, aliquet elit in, fermentum ligula. Sed est augue, molestie sed tortor sed, posuere commodo lectus.</p>
                           </div>
                          </div> 
                       </div>
              </div>
              <div class="tab-pane fade exp-cover" id="resume" role="tabpanel" aria-labelledby="contact-tab">
                  <div class="sec-title">
                                        <h2><i style="font-size: 28px;" class="fas fa-brain text-primary"></i> Conhecimentos</h2>
                                  </div>
                                   <div class="service no-margin row">
                                          <div class="col-sm-3 resume-dat serv-logo">
                                              <h6>2013-2015</h6>
                                            <p>Master Degree</p>
                                          </div>
                                          <div class="col-sm-9 rgbf">
                                              <h5>Cambridg University</h5>
                                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                          </div>
                                      </div>
                                      <div class="service no-margin row">
                                          <div class="col-sm-3 resume-dat serv-logo">
                                              <h6>2013-2015</h6>
                                            <p>Bacholers Degree</p>
                                          </div>
                                          <div class="col-sm-9 rgbf">
                                              <h5>Anna University</h5>
                                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                          </div>
                                      </div>
                                      <div class="service no-margin row">
                                          <div class="col-sm-3 resume-dat serv-logo">
                                              <h6>2013-2015</h6>
                                            <p>High School</p>
                                          </div>
                                          <div class="col-sm-9 rgbf">
                                              <h5>A.M.H.S.S</h5>
                                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                          </div>
                                      </div>
                                      <div class="service no-margin row">
                                          <div class="col-sm-3 resume-dat serv-logo">
                                              <h6>2013-2015</h6>
                                            <p>School</p>
                                          </div>
                                          <div class="col-sm-9 rgbf">
                                              <h5>Anna University</h5>
                                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                          </div>
                                      </div>
              </div>
              <div class="tab-pane fade gallcoo" id="gallery" role="tabpanel" aria-labelledby="contact-tab">
                <div class="row ml-5 mr-5 mt-5">
                  {% for leitura in leituras %}
                    <div class="col-lg-2 mb-5">                      
                      <a href="{% url 'dashboard:livro_detail' leitura.livro.id %}">
                        <img style="width: 100%;height: 100%" src="{{ leitura.livro.Poster }}" alt="">
                      </a>
                    </div>                                         
                  {% endfor %}
                </div>
              </div>
              <div class="tab-pane fade contact-tab" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                  <div class="row no-margin">
                      <div class="col-md-6 no-padding">
                                               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3176144.0450019627!2d-107.79423426090409!3d38.97644533805396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874014749b1856b7%3A0xc75483314990a7ff!2sColorado%2C+USA!5e0!3m2!1sen!2sin!4v1547222354537"  frameborder="0" style="border:0" allowfullscreen></iframe>
                      </div>
                      <div class="col-md-6">
                                              <div class="row cont-row no-margin">
                                                  <div class="col-sm-6">
                                                      <input placeholder="Enter Full Name" type="text" class="form-control form-control-sm">
                                                  </div>
                                                   <div class="col-sm-6">
                                                      <input placeholder="Enter Email Address" type="text" class="form-control form-control-sm">
                                                  </div>
                                              </div>
                                              <div class="row cont-row no-margin">
                                                  <div class="col-sm-6">
                                                      <input placeholder="Enter Mobile Number" type="text" class="form-control form-control-sm">
                                                  </div>
                                                   
                                              </div>
                                              <div class="row cont-row no-margin">
                                                  <div class="col-sm-12">
                                                     <textarea style="height: 280px;" placeholder="Enter your Message" class="form-control form-control-sm" rows="10"></textarea>
                                                  </div>
                                                  
                                              </div>
                                              <div class="row cont-row no-margin">
                                                  <div class="col-sm-6">
                                                      <button class="btn btn-primary text-white">
                                                      Enviar
                                                    </button>
                                                  </div>
                                                   
                                              </div>
                      </div>
                  </div>
              </div>
            </div>
        </div>

        <script src="{% static 'perfil/js/script.js' %}"></script>
{% endblock %}


