@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*
 {
	box-sizing: border-box;
}



body {
	font-size: 10px;
	font-family: "Montserrat", sans-serif;
	background: #fff!important;
}

.container {
	margin: 0 auto;
	position: relative;
	width: 960px;
}


.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.6s;
	padding: 40px 100px;
	z-index: 100000;
	
}

.header .hero-logo .logo-darks
{
	display: none;
}

.header .hero-logo .logo
{
	display: none;
}

.nav__logo
{
  font-size: 45px;
  font-family: 'Lobster', cursive;
  text-decoration: none;
  color: #fff;
}

.nav__logo:hover
{
	text-decoration: none;
	color: #fff;
}

.nav__logo span
{
  color: #e4bb23;
}

.nav__logo-dark
{
	color: #000!important;
}

.ponto_white
{
	color: #fff!important;
}


.banner
{
	position: relative;
	width: 100%;
	height: 100vh;	
	background: linear-gradient( to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7)),url('../img/capa-a-menina-que-roubava-livro.jpg');
	background-size: cover;
}

.banner:after {
	background: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0.6) 0%,
		rgba(0, 212, 255, 0) 75%
	);
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.banner-text
{
	position: relative;
	top: 190px;
}


.banner-informativo
{
	position: relative;
	top: 100px;
}


.hero-menu {
	z-index: 2;
	display: flex;
}

.hero-menu .container {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.hero-logo {
	display: inline-block;
}


.header ul
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header ul li
{
	position: relative;
	list-style: none;
	
}

.header ul li a
{
	position: relative;
	margin: 0 15px;
	text-decoration: none;
	color: #fff;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.2s ease-in-out;
	font-size: 1em;
	text-transform: uppercase;
	top: 10px;
}

.header .accounts li a
{
	font-weight: 190!important;
}

.header .accounts span
{
	color: aliceblue;
	margin-top: 15px;
}
.catalogo-menu-lista-item a {
	color: #fff;
	font-size: 1em;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.2s ease-in-out;
}

.catalogo-menu-lista-item a:hover
{
	text-decoration: none;
	color: #000;
}

.hero-lista-item a:hover {
	color: #e4bb23;
}

.header.sticky
{
	padding: 7px 100px;
	background: #e4bb23!important;
}


.header.sticky ul li a
{
	color: #000;
}

.header.sticky .accounts span
{
	color: #000;
	margin-top: 15px;
}


.header.sticky ul li a:hover
{
	color: oldlace;
}

.hero-usuario {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.hero-usuario-foto {
	border-radius: 100%;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
	height: 45px;
	margin-right: 15px;
	overflow: hidden;
	width: 45px;
}

.hero-usuario-nome {
	color: #fff;
	font-size: 1.3em;
	font-weight: bold;
}

.hero-usuario-foto img {
	width: 100%;
	height: auto;
}

.hero-conteudo {
	width: 100%;
}

.hero-conteudo .container {
	position: relative;
	z-index: 2;
}

.hero-titulo {
	color: #fff;
	font-size: 4.5em;
	font-weight: bold;
	line-height: 1.2em;
	margin: 0;
	text-transform: uppercase;
}

.hero-genero {
	display: flex;
	margin: 15px 0 30px;
	font-size: 13px;
}

.hero-genero-item {
	color: #fff;
	text-decoration: none;
	margin-right: 15px;
	text-transform: uppercase;
	transition: all 0.2s ease-in-out;
}

.hero-genero-item:hover {
	color: #e4bb23;
}

.hero-botao {
	display: inline-block;
	padding: 10px 19px;
	color: #000;
	font-size: 16px;
	text-decoration: none;
	background-color: #e4bb23;
	border-radius: 40px;
	position: relative;
	transition: all 0.2s ease-in-out;
	width: 162px;
}

.hero-botao:hover {
	background-color: #bc9a1d;
	text-decoration: none;
}

.hero-botao i {
	font-size: 1.5em;
	position: absolute;
	right: 15px;
	top: 12px;
}

.hero-informacao {
	padding: 20px 0;
	font-size: 1em;
	color: #fff;
}

.hero-informacao p:last-child {
	color: #bc9a1d;
}

.catalogo {
	background-color: #f2f2f2;
	width: 100%;
}

.catalogo-menu {
	width: 100%;
}

.catalogo-menu-lista {
	align-items: center;
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
	display: flex;
	justify-content: center;
	list-style: none;
	margin: 0 auto;
	padding: 0 20px;
}

.catalogo-menu-lista-item {
	margin: 0 20px;
}

.catalogo-menu-lista-item a {
	color: #e4bb23;
	display: inline-block;
	padding: 25px 0;
}

.catalogo-menu-lista-item a:hover {
	box-shadow: inset 0 -1px 0 #e4bb23;
}

.catalogo-filmes-lista {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px 0;
	width: 100%;
}

.catalogo-filmes-lista-item {
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
	overflow: hidden;
	width: 24%;
}

.catalogo-filmes-lista-modificado
{
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
	overflow: hidden;
	width: 100%;
}

.filme-poster {
	margin: 0;
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
}

.filme-poster img {
	width: 100%;
	height: auto;
}

.filme-poster-info {
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	left: 0;
	opacity: 0;
	padding: 80px 20px;
	position: absolute;
	text-align: center;
	top: 0;
	transition: all 0.2s ease-in-out;
	visibility: hidden;
	width: 100%;
	z-index: 1;
}

.catalogo-filmes-lista-item:hover .filme-poster-info {
	opacity: 1;
	visibility: visible;
}

.filme-poster-info h3 {
	color: #e4bb23;
	font-size: 2em;
	line-height: 1em;
	text-transform: uppercase;
}

.filme-poster-link {
	color: #fff;
	font-size: 5em;
	transition: all 0.2s ease-in-out;
}

.filme-poster-link:hover {
	color: #e4bb23;
}

.filme-sinopse {
	padding: 10px;
	width: 100%;
}

.filme-sinopse-titulo {
	font-size: 1.3em;
	font-weight: bold;
	margin: 0;
	text-transform: uppercase;
}

.sinopse-genero {
	margin: 10px 0;
	display: flex;
}

.sinopse-genero span
{
	font-size:14px ;
	margin-right: 10px;
}

.sinopse-genero-item {
	text-decoration: none;
	font-size: 1.2em;
	color: #e4bb23;
}

.sinopse-genero-item:hover {
	text-decoration: underline;
}

.filme-nota {
	margin: 0;
	align-items: center;
	display: flex;
	font-size: 2em;
	font-weight: bold;
	justify-content: space-between;
}

.filme-nota i {
	color: #ccc;
	cursor: pointer;
}

.filme-nota i:hover {
	color: #e74c3c;
}

.rodape {
	background-color: #fff;
	color: #bababa;
	padding: 20px 0;
	text-align: center;
	width: 100%;
}

.rodape .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.rodape-lista {
	padding: 0;
	list-style: none;
	display: flex;
}

.rodape-lista-item {
	margin: 0 20px;
}

.rodape-lista-item:last-child {
	margin-right: 0;
}

.rodape-lista-item a {
	font-size: 2.5em;
	color: #bababa;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
}

.icone-twitter a:hover {
	color: #55acee;
}

.icone-facebook a:hover {
	color: #3b5998;
}

.icone-instagram a:hover {
	color: #e95950;
}

/*---------------------------- Lancamentos ------------------------*/

.banner-lancamentos
{
	position: relative;
	width: 100%;
	height: 100vh;
	background: rgb(15,15,54);	
	background: linear-gradient( to bottom,rgba(15, 15, 54, 0.7),rgba(0,0,0,0.9)),url('https://observatoriodocinema.uol.com.br/wp-content/uploads/2021/02/como-eu-era-antes-de-voce-divulgacao.jpg');
	background-size: cover;
}

#lancamentos
{
	padding: 40px 50px;
}


.section-title .section-subtitle
{
	margin-bottom: 7px;
	padding-left: 7px;
	line-height: 1;
	text-transform: uppercase;
	color: #aaaaaa;
	border-left: 3px solid #bfa67a;
	font-size: 19px;
	font-family: tahoma;
}

.section-title .section-subtitle i

{
	font-size: 40px;
	margin-right: 10px;
	color: rgba(0, 0, 0, 0.7);
}

.section-main-title
{
	margin-top: 0;
	margin-bottom: 37px;
	font-size: 30px;
	line-height: 1.27;
	font-weight: 300;

}

.section-main-title strong
{
	font-weight: 600;
}

.about-item p
{
	font-size: 14px;
	font-family: tahoma;
}

.banner-cartaz
{
	position: relative;
	width: 100%;
	height: 100vh;
	background: rgb(15,15,54);	
	background: linear-gradient( to bottom,rgba(15, 15, 54, 0.9),rgba(0,0,0,0.9)),url('https://mardehistorias.files.wordpress.com/2009/10/o-menino-do-pijama-listrado.jpg');
	background-size: cover;
}



/*------------------------------------- Index Filmes -----------------------------------------------*/




.banner-informativo
{
	width: 100%;
	height: 400px;
	background: #fff;
}



/*------------------------------------- Detials -----------------------------------------------*/





.section-livro-details
{
  position: relative;
  
}

  .slides li
  {
    position: relative;
    top: 10px;
  }



.progression-studios-slider-modificado
{
  max-width: 570px;
  margin-left: 20px;
  position: relative;
  z-index: 10;

}

.poster-url
{
  width: 90px;
  height: 90px;
}

.icons .fa-heart:hover::before
{
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";  
  
}

.icons i
{
  font-size: 28px;
  margin-right: 28px;
  color: #fff;
}

.icons i:hover
{
  color: #e4bb23;
}

.btn-outline-warning
{
    border: 1px solid #e4bb23;
    background: transparent;
    font-size: 19px;
    margin-right: 90px;
}
.btn-outline-warning i
{
  font-size: 19px;
}



.card {
    border-radius: 5px;
    background-color: #fff;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px
}

.rating-box {
    width: 130px;
    height: 130px;
    margin-right: auto;
    margin-left: auto;
    background-color: #FBC02D;
    color: #fff
}

.rating-label {
    font-weight: bold
}

.rating-bar {
    width: 300px;
    padding: 8px;
    border-radius: 5px
}

.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 5px
}

.bar-5 {
    width: 70%;
    height: 13px;
    background-color: #FBC02D;
    border-radius: 20px
}

.bar-4 {
    width: 30%;
    height: 13px;
    background-color: #FBC02D;
    border-radius: 20px
}

.bar-3 {
    width: 20%;
    height: 13px;
    background-color: #FBC02D;
    border-radius: 20px
}

.bar-2 {
    width: 10%;
    height: 13px;
    background-color: #FBC02D;
    border-radius: 20px
}

.bar-1 {
    width: 0%;
    height: 13px;
    background-color: #FBC02D;
    border-radius: 20px
}

td {
    padding-bottom: 10px
}

.star-active {
    color: #FBC02D;
    margin-top: 10px;
    margin-bottom: 10px
}

.star-active:hover {
    color: #F9A825;
    cursor: pointer
}

.star-inactive {
    color: #CFD8DC;
    margin-top: 10px;
    margin-bottom: 10px
}

.blue-text {
    color: #0091EA
}

.content {
    font-size: 18px
}

.profile-pic {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    margin-right: 30px
}

.pic {
    width: 80px;
    height: 80px;
    margin-right: 10px
}

.vote {
    cursor: pointer
}


/*--------------------------------------- Footer ---------------------------------*/
footer
{
    position: relative;
	width: 100%;
	height: 35vh;
	background: rgb(15,15,54);	
	background: linear-gradient( to bottom,rgba(15, 15, 54, 0.9),rgba(0,0,0,0.9)),url('https://media.gazetadopovo.com.br/2016/02/8b6978781ff2b9fbdb5059127fe87bed-gpMedium.jpg');
	background-size: cover;
    color: #fff;
}

.heading {
    font-family: 'Titillium Web', sans-serif;
    color: #bc9a1d
}

.divider {
    border-top: 2px solid rgba(189, 196, 203, 0.5);
}

.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

#id_email {
    background-color: #222222;
    border: 1px solid #636161;
    font-size: 0.75rem
}



.btn {
    background-color: #bc9a1d;
    font-size: 0.78rem;
    border: 0px
}


.img-livro
{
  width: 190px;
  height: 340px;
  border: 4px solid #333;
  font-family: 'Cinzel', serif;
  font-size: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  transition: 1s;
  left: 190px;
}


.banner-informativo
{
	position: relative;
	bottom: 70px;
}