

.info
{
    width: 100%;
    height: 190px;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0,0,0,0.4);
    text-align: center;
    
}

.info .info-title
{
    padding: 40px;

}

.info-text
{
    font-size: 19px;
}

.info-text i
{
    font-size: 28px;
    color: #3db13d;
    position: relative;
    top: 5px;
}

.info-text span
{
    position: relative;
    top: 2px;
}

.info-text span strong
{
    color: #000;
}

.info-text span span
{
    color: #3db13d;
    font-size: 28px;
    top: 0px;
}


.info-text p
{
    margin-top: 19px;
    
}


.info-tex p strong
{
    font-style: italic;
}