{% extends 'dashboard/base.html' %}
{% load static %}


{% block title %}Momentum | Análise dos dados de livros {% endblock %}


{% block dashboard %}
{{ block.super }}

<div style="height: 110px!important;" class="section-header">
    <h5 style="margin-top: -28px; color:#cccccc;" class="position-absolute ml-2 mb-4">Financeiro</h5>
    <br>
    <h1 style="color: #8898aa; font-size: 40px;" class="mt-4 ml-2">Despesas</h1>
    <div class="section-header-breadcrumb">       
        <i style="font-size: 70px; color: #000066;" class="fas fa-file-invoice-dollar"></i>
    </div>
</div>










{% endblock %}