{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}" />
  <title>Momentum | Dashboard de Gerenciamento de Projetos </title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href="https://cdn.materialdesignicons.com/4.4.95/css/materialdesignicons.min.css" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/Charts.js/2.8.0/Chart.min.css" rel="stylesheet" />
  <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqvmap/1.5.1/jqvmap.min.css">

<link href="{% static 'css/editor.css' %}" type="text/css" rel="stylesheet"/>
  <!-- CSS Libraries -->
  <!-- CSS Libraries -->
  <link rel="stylesheet" href="{% static 'node_modules/jqvmap/dist/jqvmap.min.css'%}">
  <link rel="stylesheet" href="{% static 'node_modules/summernote/dist/summernote-bs4.css'%}">
  <link rel="stylesheet" href="{% static 'node_modules/owl.carousel/dist/assets/owl.carousel.min.css'%}">
  <link rel="stylesheet" href="{% static 'node_modules/owl.carousel/dist/assets/owl.theme.default.min.css'%}">
  <link href="{% static 'assets/plugins/nprogress/nprogress.css" rel="stylesheet' %}" />

  <!-- Template CSS -->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'livros.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/management.css' %}">
    <link rel="stylesheet" href="{% static 'css/projetcs.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/components.css' %}">
    <link id="sleek-css" rel="stylesheet" href="{% static 'assets/css/sleek.css' %}" />



    <script src="https://kit.fontawesome.com/55bcbae4d6.js" crossorigin="anonymous"></script>

    
<style type="text/css">


.circle-wrap {
  margin: 50px auto;
  width: 150px;
  height: 150px;
  background: #e6e2e7;
  border-radius: 50%;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .circle .mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #9e00b1;
}

.circle-wrap .circle .mask.full,
.circle-wrap .circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(126deg);
}

@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(126deg);
  }
}

.circle-wrap .inside-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #fff;
  line-height: 130px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}







#messages
{
    height: 110px!important; 
    width: 109%!important;
}

#messages h1
{
    margin-top: -28px!important;
}

.info
{
  
  color: var(--info)!important;
  position: relative;
  margin-top: 40px;
}

.border-info
{
  border-left: 9px solid  var(--info)!important;
}



.error
{
  
  color: var(--red)!important;
  position: relative;
  margin-top: 40px;
}

.border-error
{
  border-left: 9px solid  var(--red)!important;
}

.success
{
  
  color: var(--green)!important;
  position: relative;
  margin-top: 40px;
}

.border-success
{
  border-left: 9px solid  var(--green)!important;
}


</style>

</head>
    <style>

    @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

    .time
    {
      font-family: 'Orbitron', sans-serif;
      font-size: 28px;
      color: #fff;
    }
        .border-info
    {
      border-left: 10px solid #007bff ;    
    }

    .border-info .info i
    {
      color: #007bff;
      font-size: 70px;
      margin-top: -10px;
    }
    </style>

<body>
  <div id="app">
    <div class="main-wrapper">
      <div class="navbar-bg bg-background"></div>
      <nav class="navbar navbar-expand-lg main-navbar">
       <form class="form-inline mr-auto"  method='GET' class='' action='.'>
          <ul class="navbar-nav mr-3">
            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
            <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="fas fa-search"></i></a></li>
            <a class="nav-link time clock" id="timer" href="#">00 : 00:00</a>
          </ul>          
        </form>
        <ul class="navbar-nav navbar-right">
          <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown" class="nav-link nav-link-lg message-toggle beep"><i class="fas fa-people-arrows"></i></a>
            <div class="dropdown-menu dropdown-list dropdown-menu-right">
              <div class="dropdown-header">Colaboradores
                <div class="float-right">
                  
                </div>
              </div>
              <div class="dropdown-list-content dropdown-list-message">
                <a href="#" class="dropdown-item dropdown-item-unread">
                  <div class="dropdown-item-avatar">
                    <img alt="image" src="{% static 'assets/img/avatar/avatar-1.png' %}" class="rounded-circle">
                    <div class="is-online"></div>
                  </div>
                  <div class="dropdown-item-desc">
                    <b>Kusnaedi</b>
                    <p>Hello, Bro!</p>
                    <div class="time">10 Hours Ago</div>
                  </div>
                </a>
                <a href="#" class="dropdown-item dropdown-item-unread">
                  <div class="dropdown-item-avatar">
                    <img alt="image" src="{% static 'assets/img/avatar/avatar-2.png' %}" class="rounded-circle">
                  </div>
                  <div class="dropdown-item-desc">
                    <b>Dedik Sugiharto</b>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                    <div class="time">12 Hours Ago</div>
                  </div>
                </a>
                <a href="#" class="dropdown-item dropdown-item-unread">
                  <div class="dropdown-item-avatar">
                    <img alt="image" src="{% static 'assets/img/avatar/avatar-3.png' %}" class="rounded-circle">
                    <div class="is-online"></div>
                  </div>
                  <div class="dropdown-item-desc">
                    <b>Agung Ardiansyah</b>
                    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <div class="time">12 Hours Ago</div>
                  </div>
                </a>
                <a href="#" class="dropdown-item">
                  <div class="dropdown-item-avatar">
                    <img alt="image" src="{% static 'assets/img/avatar/avatar-4.png' %}" class="rounded-circle">
                  </div>
                  <div class="dropdown-item-desc">
                    <b>Ardian Rahardiansyah</b>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit ess</p>
                    <div class="time">16 Hours Ago</div>
                  </div>
                </a>
                <a href="#" class="dropdown-item">
                  <div class="dropdown-item-avatar">
                    <img alt="image" src="{% static 'assets/img/avatar/avatar-5.png' %}" class="rounded-circle">
                  </div>
                  <div class="dropdown-item-desc">
                    <b>Alfa Zulkarnain</b>
                    <p>Exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                    <div class="time">Yesterday</div>
                  </div>
                </a>
              </div>
              <div class="dropdown-footer text-center">
                <a href="#">Ver todos <i class="fas fa-chevron-right"></i></a>
              </div>
            </div>
          </li>
          <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg beep"><i class="far fa-bell"></i></a>
            <div class="dropdown-menu dropdown-list dropdown-menu-right">
              <div class="dropdown-header">Notificações
                <div class="float-right">
                  <a href="#">Mark All As Read</a>
                </div>
              </div>
              <div class="dropdown-list-content dropdown-list-icons">
                <a href="#" class="dropdown-item dropdown-item-unread">
                  <div class="dropdown-item-icon bg-primary text-white">
                    <i class="fas fa-code"></i>
                  </div>
                  <div class="dropdown-item-desc">
                    Template update is available now!
                    <div class="time text-primary">2 Min Ago</div>
                  </div>
                </a>
                <a href="#" class="dropdown-item">
                  <div class="dropdown-item-icon bg-info text-white">
                    <i class="far fa-user"></i>
                  </div>
                  <div class="dropdown-item-desc">
                    <b>You</b> and <b>Dedik Sugiharto</b> are now friends
                    <div class="time">10 Hours Ago</div>
                  </div>
                </a>
                <a href="#" class="dropdown-item">
                  <div class="dropdown-item-icon bg-success text-white">
                    <i class="fas fa-check"></i>
                  </div>
                  <div class="dropdown-item-desc">
                    <b>Kusnaedi</b> has moved task <b>Fix bug header</b> to <b>Done</b>
                    <div class="time">12 Hours Ago</div>
                  </div>
                </a>
                <a href="#" class="dropdown-item">
                  <div class="dropdown-item-icon bg-danger text-white">
                    <i class="fas fa-exclamation-triangle"></i>
                  </div>
                  <div class="dropdown-item-desc">
                    Low disk space. Let's clean it!
                    <div class="time">17 Hours Ago</div>
                  </div>
                </a>
                <a href="#" class="dropdown-item">
                  <div class="dropdown-item-icon bg-info text-white">
                    <i class="fas fa-bell"></i>
                  </div>
                  <div class="dropdown-item-desc">
                    Welcome to Stisla template!
                    <div class="time">Yesterday</div>
                  </div>
                </a>
              </div>
              <div class="dropdown-footer text-center">
                <a href="#">Ver todas <i class="fas fa-chevron-right"></i></a>
              </div>
            </div>
          </li>
          <li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
            {% if user.is_authenticated %}
            {% if user.img %}
              <img alt="image" src="{{ user.img.url }}" class="online rounded-circle mr-1">
            {% else %}
              <img alt="image " src="{% static 'assets/img/avatar/avatar-5.png' %}" class="off rounded-circle mr-1">
            {% endif %}
            {% endif %}
            {% if user.is_authenticated %}
            <div class="d-sm-none d-lg-inline-block">{{ user }}</div></a>
            {% else %}
            <div class="d-sm-none d-lg-inline-block"> Desconetado</div></a>
            {% endif %}
            <div class="dropdown-menu dropdown-menu-right">
              <div class="dropdown-title"> Conectou: <span >{{ user.last_login |date:"f" }}</span> Min</div>
              <a href="{% url 'profile' %}" class="dropdown-item has-icon">
                <i class="far fa-user"></i> {{ user }}</a>
              <a href="features-activities.html" class="dropdown-item has-icon">
              {% if user.is_authenticated %}
                <i style = "color:#00ff00" class="fas fa-bolt"></i> XP : {{ user.experiencia }}
              {% else %}
                 <i class="fas fa-bolt"></i> Activities
              {% endif %}
              </a>
              <a href="#" class="dropdown-item has-icon">
                <i class="fas fa-cog"></i> Settings
              </a>
              <div class="dropdown-divider"></div>
              <a href="{% url 'logout' %}" class="dropdown-item has-icon text-danger">
                <i class="fas fa-sign-out-alt"></i> Logout
              </a>
            </div>
          </li>
        </ul>
      </nav>
      <div class="main-sidebar">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            <a href="{% url 'index' %}">
              <a href="{% url 'index' %}" class="nav__logo text-capitalize">Momentum<span class="ponto">.</span></a>
            </a>
          </div>
          <div class="sidebar-brand sidebar-brand-sm">
            <a href="{% url 'index' %}">
              <a href="{% url 'index' %}" class="nav__logo text-capitalize">M</a>
            </a>
          </div>
          <ul class="sidebar-menu">
            <li class="menu-header">Dashboard</li>
            <li class="nav-item dropdown active">
              <a href="{% url 'dashboard:manager' %}" class="nav-link "><i class="fas fa-desktop"></i><span>Manager</span></a>
            </li>
            <li class="menu-header">Livros / Filmes</li>              
              <li class="nav-item dropdown">
                <a href="#" class="nav-link has-dropdown"><i class="fab fa-leanpub"></i> <span>Livros</span></a>
                <ul class="dropdown-menu">
                  <li><a class="nav-link" href="{% url 'livros:verificar' %}">Adicionar</a></li>
                  <li><a class="nav-link" href="{% url 'dashboard:list_livros' %}">Lista</a></li>             
                  <li ><a class="nav-link" href="{% url 'livros:favoritos' %}">Favoritos</a></li>
                  <li><a class="nav-link" href="{% url 'livros:playlist' %}">Playlists</a></li>
                  <li><a class="nav-link" href="{% url 'livros:reviews' %}">Reviews</a></li>
                  <li><a class="nav-link" href="{% url 'livros:discussoes' %}">Discussões</a></li>
                  <li><a class="nav-link" href="{% url 'livros:leitura' %}">Leituras</a></li>
                </ul>
              </li>              
              <li class="nav-item dropdown">
                <a href="#" class="nav-link has-dropdown"><i class="fas fa-film"></i> <span>Filmes</span></a>
                <ul class="dropdown-menu">
                  <li><a class="nav-link" href="#">Manager</a></li>                 
                                                                                                        
                </ul>
              </li>           
              <li class="menu-header">Pessoas</li>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link has-dropdown"><i class="fas fa-feather-alt"></i> <span>Autores</span></a>
                <ul class="dropdown-menu">
                  <li><a class="nav-link" href="#">Manager</a></li>
                  <li><a class="nav-link" href="#">Search</a></li>
                  <li><a class="nav-link" href="#">Created</a></li>
                  <li><a class="nav-link" href="#">Analytics</a></li>                                               
                </ul>
              </li>
              <li class="menu-header">Financeiro</li>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link has-dropdown"><i class="fas fa-line-chart"></i> <span>Analytics</span></a>
                <ul class="dropdown-menu">
                  <li><a class="nav-link" href="{% url 'analytics:index' %}">manager</a></li>
                  <li><a class="nav-link" href="#">Filmes</a></li>
                  <li><a class="nav-link" href="#">Séries</a></li>
                  <li><a class="nav-link" href="#">Documentários</a></li>
                  <li><a class="nav-link" href="#">Clientes</a></li>                                               
                </ul>
              </li>
            </ul>

            <div class="mt-4 mb-4 p-3 hide-sidebar-mini">
              <a href="https://getstisla.com/docs" class="btn btn-primary btn-lg btn-block btn-icon-split">
                <i class="fas fa-rocket"></i> Documentation
              </a>
            </div>
        </aside>
      </div>
      <div class="banner-dashboard">
        
      </div>
      
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
        {% if messages %}
           <div style="top: -15px; position:absolute; z-index: 999; left: -40px; width: 1110px;" class="container">
        <div class="row">
          <div class="col-sm-12 col-sm-offset-3">      
              <div class="card-body">
                {% for message in messages %} 
                {% if message.tags == 'error' %}    
                 <div  class="section-header border-error" id="messages">
                  <h1 class="position-absolute ml-2 mb-4 error mt-4">Ops.....</h1>
                  <br>
                  <p class="mt-4 ml-2">{{ message |truncatechars:110}}.</p>
                  <div class="section-header-breadcrumb">       
                    <i style="font-size: 70px; " class="fas fa-window-close text-danger"></i>
                  </div>
                </div>          
                {% elif message.tags == 'success' %}
                <div class="section-header border-success" id="messages">
                  <h1 class="position-absolute ml-2 mb-4 success mt-4">Parabéns.....</h1>
                  <br>
                  <br>
                  <p class="mt-4 ml-2">{{ message |truncatechars:110 }}.</p>
                  <div class="section-header-breadcrumb">       
                    <i style="font-size: 70px; top: -19px; " class="fas fa-check-square success"></i>
                  </div>
                </div>                
                {% elif message.tags == 'info' %}                 
                <div class="section-header border-info" id="messages">
                  <h1 class="position-absolute ml-2 mb-4 info mt-4">Informativo.....</h1>
                  <br>
                  <br>
                  <p class="mt-4 ml-2">{{ message |truncatechars:110 }}.</p>
                  <div class="section-header-breadcrumb">       
                    <i style="font-size: 70px; " class="fas fa-info-circle info"></i>
                  </div>
                </div>
                {% endif %}
                {% endfor %}    
              </div>      
            </div>
          </div>
      </div>  
      {% endif %}


    {% block dashboard %}






    {% endblock %}  
     
  </section>
</div>
<footer class="main-footer">
  <div class="footer-left">
    Copyright &copy; 2018 <div class="bullet"></div> Design By <a href="https://nauval.in/">Muhamad Nauval Azhar</a>
  </div>
  <div class="footer-right">
    2.3.0
  </div>
</footer>
</div>
</div>

<!-- General JS Scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/Charts.js/2.8.0/Chart.min.css"></script>



<script src="{% static 'assets/js/stisla.js' %}"></script>
<script src="{% static 'assets/js/circle-progress.min.js' %}"></script>

<!-- JS Libraies -->
<script src="{% static 'node_modules/jquery-sparkline/jquery.sparkline.min.js' %}"></script> 
<script src="{% static 'node_modules/owl.carousel/dist/owl.carousel.min.js' %}"></script>
<script src="{% static 'node_modules/charts/dist/Chart.min.js' %}"></script>

<script src="{% static 'node_modules/summernote/dist/summernote-bs4.js' %}"></script>
<script src="{% static 'node_modules/chocolat/dist/js/jquery.chocolat.min.js' %}"></script>
<script src="{% static 'plugins/nprogress/nprogress.js' %}"></script>
<script src="{% static 'assets/plugins/circle-progress/circle-progress.js' %}"></script>  
<script src="{% static 'node_modules/jqvmap/dist/jquery.vmap.min.js' %}"></script>
<script src="{% static 'node_modules/jqvmap/dist/maps/jquery.vmap.world.js' %}"></script>
<script src="{% static 'node_modules/jqvmap/dist/maps/jquery.vmap.indonesia.js' %}"></script>






<!-- Template JS File -->
<script src="{% static 'assets/js/scripts.js' %}"></script>
<script src="{% static 'assets/js/script-dashboard.js' %}"></script>
<script src="{% static 'assets/js/custom.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script><!-- jQuery -->

<!-- Page Specific JS File -->
<script src="{% static 'assets/js/page/index.js' %}"></script>  
<script src="{% static 'js/circliful.js' %}"></script>

<script src="{% static 'assets/plugins/data-tables/jquery.datatables.min.js' %}"></script>
<script src="{% static 'assets/plugins/data-tables/datatables.bootstrap4.min.js' %}"></script>
<script src="{% static 'assets/plugins/data-tables/datatables.responsive.min.js' %}"></script>
<script src="{% static 'node_modules/charts/dist/Chart.min.js' %}"></script>


<!-- Page Specific JS File -->
<script src="{% static 'assets/js/page/index-0.js' %}"></script>
<script src="{% static 'assets/js/page/index.js' %}"></script>
<script src="{% static 'js/editor.js' %"></script>
<script src="{% static 'assets/js/page/components-statistic.js' %}"></script>
<script src="{% static 'js/circle-progress.min.js' %}"></script>


   
  <!-- Additional Plugins and JavaScript -->
  <script src="{% static 'js/navigation.js' %}" defer></script><!-- Header Navigation JS Plugin -->
  <script src="{% static 'js/jquery.flexslider-min.js' %}" defer></script><!-- FlexSlider JS Plugin -->
  <script src="{% static 'js/jquery-asRange.min.js' %}" defer></script><!-- Range Slider JS Plugin -->
  <script src="{% static 'js/circle-progress.min.js' %}" defer></script><!-- Circle Progress JS Plugin -->
  <script src="{% static 'js/afterglow.min.js' %}" defer></script><!-- Video Player JS Plugin -->
  <script src="{% static 'js/script.js' %}" defer></script><!-- Custom Document Ready JS -->
  <script src="{% static 'js/script-dashboard.js' %}" defer></script><!-- Custom Document Ready for Dashboard Only JS -->
  
 <script> 

    setTimeout(function () {
      document.getElementById("messages").style.display = "none";
    }, 4000);
    function hide(){
    document.getElementById("messages").style.display = "none";
    }
  </script>

<script type="text/javascript">

  var  hours, min, sec;

  var  clock = function(){

    var date = new Date();

    hours   = date.getHours().toString().length < 2 ? "0" + date.getHours() : date.getHours();
    min   = date.getMinutes().toString().length < 2 ? "0" + date.getMinutes() : date.getMinutes();
    sec   = date.getSeconds().toString().length < 2 ? "0" + date.getSeconds() : date.getSeconds();


    var time = hours + " : " + min + " : " + sec;
    
    console.log(time);

    document.getElementById('timer').innerHTML = time;
  }

  setInterval(function(){

    clock();
  }, 1000)
  clock();
</script> 
</body>
</html>
