{% extends 'initial/base.html' %}
{% load static %}		



{% block index %}

<section class="banner-lancamentos">
	<div class="hero-conteudo">
        <div class="container">
			<div class="banner-text">
				<h2 class="hero-titulo">Como Eu Era Antes De Você</h2>

				<p class="hero-genero">
					<a href="#" class="hero-genero-item">Romance</a>					
					<a href="#" class="hero-genero-item">Drama</a>
				</p>
	
				<a href="#" class="hero-botao"
					>Assitir Trailer <i class="fa fa-play-circle-o"></i
				></a>
	
				<div class="hero-informacao">
					<p>Lançamentos</p>
					<p>16 de julho 2016 ( Brasil )</p>
				</div>
			</div>           
        </div>
    </div>
</section>


		<section class="catalogo">
		{% include 'include/livros.html' %}

		
		{% block livros %}



		{% endblock %}
		</section>

{% endblock %}