{% extends 'management/base.html' %}
{% load static %}



{% block title %}Momentum c Management Dashboard gestão movie   {% endblock %}


{% block dashboard %}
{{ block.super }}

<style type="text/css">
	.pd-wrap {
	
	font-family: 'Poppins', sans-serif;
}
.heading-section {
	text-align: center;
	margin-bottom: 20px;
}
.sub-heading {
	font-family: 'Poppins', sans-serif;
    font-size: 12px;
    display: block;
    font-weight: 600;
    color: #2e9ca1;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.heading-section h2 {
	font-size: 32px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 15px;
	font-family: 'Poppins', sans-serif;
}
.user-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
	min-width: 80px;
	background-size: 100%;
}
.carousel-testimonial .item {
	padding: 30px 10px;
}
.quote {
	position: absolute;
    top: -23px;
    color: #2e9da1;
    font-size: 27px;
}
.name {
	margin-bottom: 0;
    line-height: 14px;
    font-size: 17px;
    font-weight: 500;
}
.position {
	color: #adadad;
	font-size: 14px;
}
.owl-nav button {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	outline: none;
	height: 25px;
}
.owl-nav button svg {
	width: 25px;
	height: 25px;
}
.owl-nav button.owl-prev {
	left: 25px;
}
.owl-nav button.owl-next {
	right: 25px;
}
.owl-nav button span {
	font-size: 45px;
}
.product-thumb .item img {
	height: 100px;
}
.product-name {
	font-size: 22px;
	font-weight: 500;
	line-height: 22px;
	margin-bottom: 4px;
}
.product-price-discount {
	font-size: 22px;
    font-weight: 400;
    padding: 10px 0;
    clear: both;
}
.product-price-discount span.line-through {
	text-decoration: line-through;
    margin-left: 10px;
    font-size: 14px;
    vertical-align: middle;
    color: #a5a5a5;
}
.display-flex {
	display: flex;
}
.align-center {
	align-items: center;
}
.product-info {
	width: 100%;
}
.reviews-counter {
    font-size: 13px;
}
.reviews-counter span {
	vertical-align: -2px;
}
.rate {
    float: left;
    padding: 0 10px 0 0;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float: right;
    width: 15px;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 21px;
    color:#ccc;
	margin-bottom: 0;
	line-height: 21px;
}
.rate:not(:checked) > label:before {
    content: '\2605';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
.product-dtl p {
	font-size: 14px;
	line-height: 24px;
	color: #7a7a7a;
}
.product-dtl .form-control {
	font-size: 15px;
}
.product-dtl label {
	line-height: 16px;
	font-size: 15px;
}
.form-control:focus {
	outline: none;
	box-shadow: none;
}
.product-count {
	margin-top: 15px; 
}
.product-count .qtyminus,
.product-count .qtyplus {
	width: 34px;
    height: 34px;
    background: #212529;
    text-align: center;
    font-size: 19px;
    line-height: 36px;
    color: #fff;
    cursor: pointer;
}
.product-count .qtyminus {
	border-radius: 3px 0 0 3px; 
}
.product-count .qtyplus {
	border-radius: 0 3px 3px 0; 
}
.product-count .qty {
	width: 60px;
	text-align: center;
}
.round-black-btn {
	border-radius: 4px;
    background: #212529;
    color: #fff;
    padding: 7px 45px;
    display: inline-block;
    margin-top: 20px;
    border: solid 2px #212529; 
    transition: all 0.5s ease-in-out 0s;
}
.round-black-btn:hover,
.round-black-btn:focus {
	background: transparent;
	color: #212529;
	text-decoration: none;
}

.product-info-tabs {
	margin-top: 25px; 
}
.product-info-tabs .nav-tabs {
	border-bottom: 2px solid #d8d8d8;
}
.product-info-tabs .nav-tabs .nav-item {
	margin-bottom: 0;
}
.product-info-tabs .nav-tabs .nav-link {
	border: none; 
	border-bottom: 2px solid transparent;
	color: #323232;
}
.product-info-tabs .nav-tabs .nav-item .nav-link:hover {
	border: none; 
}
.product-info-tabs .nav-tabs .nav-item.show .nav-link, 
.product-info-tabs .nav-tabs .nav-link.active, 
.product-info-tabs .nav-tabs .nav-link.active:hover {
	border: none; 
	border-bottom: 2px solid #d8d8d8;
	font-weight: bold;
}
.product-info-tabs .tab-content .tab-pane {
	padding: 30px 20px;
	font-size: 15px;
	line-height: 24px;
	color: #7a7a7a;
}
.review-form .form-group {
	clear: both;
}
.mb-20 {
	margin-bottom: 20px;
}
#review
{
	width: 100%;
}

.review-form .rate {
	float: none;
	display: inline-block;
}
.review-heading {
	font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 6px;
    text-transform: uppercase;
    color: #000;
}
.review-form .form-control {
	font-size: 14px;
}
.review-form input.form-control {
	height: 40px;
}
.review-form textarea.form-control {
	resize: none;
}
.review-form .round-black-btn {
	text-transform: uppercase;
	cursor: pointer;
}


.bottom-icone
{
	float: right;
	width: 100%;
	
}

.bottom-icone i
{
	float: right;
	font-size: 40px;
}

.bottom-icone i:hover
{
	color: #e4bb23;
}

.secao-1
{
	border-bottom: 1px solid #ccc;
}


.capa
{
	width: 400px;
	height: 450pxs;
}
</style>




<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"><div class="pd-wrap">
	<script src="https://code.responsivevoice.org/responsivevoice.js?key=S4Q6EnZo"></script>
	<script type="text/javascript">responsiveVoice.setDefaultVoice('Brazilian Portuguese Female');</script>

<div style="height: 110px!important;" class="section-header">
    <h5 style="margin-top: -28px; color:#cccccc;" class="position-absolute ml-2 mb-4">Livro</h5>
    <br>
    <h1 style="color: #8898aa; font-size: 40px;" class="mt-4 ml-2">{{ livro |truncatechars:40 }}</h1>
    <div class="section-header-breadcrumb">       
        <i style="font-size: 70px; color: #000066;" class="fab fa-leanpub"></i>
    </div>
</div>

<div class="section-body ">
	<h2 class="section-title">Detalhes do livro</h2>
    <p class="section-lead">
        {{ livro }}.
    </p>

    <div class="row">            
        <div class="col-md-12 mb-5">
        	
           <a style="position: relative;  cursor: pointer; z-index: 9999999999;" href="{% url 'management:list_livros' %}">
                <div class=" float-right icon-top text-dark add-despesas " data-toggle="tooltip" data-placement="top" title="Voltar">
                    <i style="font-size: 40px;" class="fas fa-reply-all"></i>
                </div>
            </a> 
        </div>
  
		<div class="container">	        
	        <div class="row">
	        	<div class="col-md-6">
	        		<img class="capa" src="{{ livro.Poster }}" />
	        	</div>
	        	<div class="col-md-6">
	        		<div class="product-dtl">
        				<div class="product-info">
		        			<div class="product-name">{% for autor in livro.Autor.all %}{{ autor }}{% endfor %}</div>
		        			<label for="color">Editora</label>
							<label for="color">{{ livro.Editora}}</label>
		        			<div class="reviews-counter">
		        				<form action="{% url 'livros:add_review' livro.id  %}" method="POST">
            						{% csrf_token %}	
									<div class="rating-pro">
										 <label>
										   <button type="submit" name="rate" value="10" id="rangeInput" title="10 stars"> 10</button>
										 </label>
										<label>
										  <button type="submit" name="rate" value="9" id="rangeInput" title="9 stars"> 9</button>
										</label>
										<label>
										  <button type="submit" name="rate" value="8" id="rangeInput" title="8 stars"> 8</button>
										</label>
										<label>
										  <button type="submit" name="rate" value="7" id="rangeInput" title="7 stars"> 7</button>
										</label>
										<label>
										 <button type="submit" name="rate" value="6" id="rangeInput" title="6 stars"> 6</button>
										</label>
										<label>
										 <button type="submit" name="rate" value="5" id="rangeInput" title="5 stars"> 5</button>
										</label>
										<label>
											<button type="radio" name="rate" value="4" id="rangeInput" title="4 stars"> 4</button>
										</label>
										<label>
											<button type="submit" name="rate" value="3" id="rangeInput" title="3 stars"> 3</button>
										</label>
										<label>
											<button type="submit" name="rate" value="2" id="rangeInput" title="2 stars"> 2</button>
										</label>
										<label>
											<button type="submit" name="rate" value="1" id="rangeInput" title="1 star"> 1</button>
										</label>
									</div>
								</form>
								<span>
									{% if livro.Average_Rating <= 0 %}
				                    <span >0 Reviews</span>
				                    {% elif livro.Average_Rating == None  %}
				                    <span >0 Reviews</span>
				                    {% else %}
				                    <span >{{ livro.Average_Rating }} Reviews</span>
				                    {% endif %}								
								</span>
							</div>		        			
		        		</div>
		        		<p class="mt-5">
	        				O total de visualizações: {{ livro.views }}	        					
	        			</p>
	        			<p class="mt-5">
	        				{{ livro.Descricao |truncatechars:140 }}
	        			</p>
	        			<div class="row">
	        				<div class="col-md-3">
	        					<label for="size">Paginas</label>
								<div class="product-price-discount">Nº <span>{{ livro.Paginas}}</span></div>
	        				</div>
	        			</div>
	        			<div class="row mt-5">
		        			<div class="col-md-6">
		        				<div class="product-name">Leitores</div>
		        				{% if  total_leitor > 0 %}
		        				<label for="color">Total do livro para leitura: <span class="text-success">{{ total_leitor }}</span></label>
		        				{% else %}
		        				<label for="color">Total do livro para leitura : <span>0</span></label>
		        				{% endif %}
		        				<br>
		        				{% if  total_lendo  > 0 %}
		        				<label for="color">Total de leitor que está Lendo : <span class="text-success"> {{ total_lendo }}</span></label>
		        				{% else %}
		        				<label for="color">Total de leitor que está Lendo: <span>0</span></label>
		        				{% endif %}
		        				<br>
		        				{% if total_litura_concluida > 0 %}
		        				<label for="color">Total da leitura já concluida: <span class="text-success">{{ total_litura_concluida }}</span></label>
		        				{% else %}
		        				<label for="color">Total da leitura já concluida: <span>0</span></label>
		        				{% endif %}
		        			</div>

		        			<div class="col-md-6">
		        				<div class="product-name">Questionários</div>
		        				<label for="color">Total : <span>0</span></label>
		        				<br>
		        				<label for="color">Total de Questões: <span>0</span></label>
		        				<br>
		        				<label for="color">Concluidos : <span>0</span></label>
		        			</div>
		        		</div>
	        	</div>
	        </div>	     			
		</div>
	</div>
	</div>
</div>
<br>
<br>
<hr>
<br>
<br>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>Questionários</h4>
                <div class="card-header-action">
                   <a href="{% url 'management:created' livro.id %}" class="btn btn-outline-primary">Criar Questões <i class="fas fa-plus"></i></a>
                 </div>
            </div>
            <div class="card-body p-0">
                  <div class="table-responsive table-invoice">
                    <table class="table table-striped">
                      <tr>
                        <th>ID o questionário</th>
                        <th>Livro</th>
                        <th>Topico</th>
                        <th>Dificuldade</th>
                        <th>Aprovação</th>
                        <th>Status</th>
                        <th>Created</th>
                        <th>Action</th>
                      </tr>
                      {% for questionario in questionarios %}
                      <tr>
                        <td><a href="#">{{ questionario.id }}</a></td>
                        <td class="font-weight-600">{{ questionario.name }}</td>
                        <td>{{ questionario.topic |truncatechars:19 }}</td>
                        <td>{{ questionario.difficulty }}</td>
                        <td>{{ questionario.required_score_to_pass }}</td>
                        <td>
                        	{% if questionario.status == 'projeto' %}
                        	<div class="badge badge-danger">{{ questionario.status }}</div>
                        	{% elif questionario.status == 'elaboração'  %}
                        	<div class="badge badge-warning">{{ questionario.status }}</div>
                        	{% else %}
                        	<div class="badge badge-success">{{ questionario.status }}</div>
                        	{% endif %}
                        </td>
                        <td>{{ questionario.created | date:"d-m-Y" }}</td>
                        <td>
                          <a href="#" class="btn btn-outline-primary">Detail</a>
                        </td>
                    	</tr>
                   		{% endfor %}
                    </table>
                  </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}