{% extends 'initial/base.html' %}
{% load static %}		



{% block index %}

<main id="">
    {% if movie.movie.Poster %}
    <div   id="movie-detail-header-pro" style="background-image:url('{{ movie.movie.Poster_url }}')">
    {% else %}
    <div id="movie-detail-header-pro" style="background-image:url('/static/images/demo/dashboard-movie-poster.jpg')"></div>
    {% endif %}         
    <div class="container">                                    
        <a style="top: 190px;" class="movie-detail-header-play-btn afterglow mt-5" href="#VideoLightbox-1"><i class="fas fa-play"></i></a>
        
     <video id="VideoLightbox-1" data-youtube-id="{{ movie.id }}" width="960" height="540"></video>
    </div>        
        <div id="movie-detail-gradient-pro"></div>
    </div><!-- close #movie-detail-header-pro -->
    
</main>


{% endblock %}