{% extends 'initial/livros.html' %}
{% load static %}





{% block livros %}
<section id="lancamentos" class="section-padding about-section">
    <div class="row">
        <div class="col-sm-12">
            <div class="section-title">
                <div class="section-subtitle"><i class="fas fa-feather-alt"></i>Autores</div>
                <h2 class="section-main-title">Os melhores <strong>Autores</strong></h2>
            </div>
            <div class="about-item">
                <p>
                    Confira nossa lista com grandes autores e descubra por que você precisa conhecê-los.
                    Para inspirar você nessa missão a criar um lista com os maiores autores de livros de todos os tempos e as suas grandes obras.
                </p>						
            </div>
        </div>
    </div>			
</section>	
<section>	
  <div class="container">			
    <div class="row mt-5">
      {% if autores %}
      {% for escritor in autores %}
      <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <div class="item-listing-container-skrn">
          <a href="#"><img style="height: 350px;" src="{{ escritor.picture }}" alt="Listing"></a>
          <div class="item-listing-text-skrn">
            <div class="item-listing-text-skrn-vertical-align"><h6><a href="#">{{ escritor.name }}</a></h6>
              <div
                class="circle-rating-pro"
                data-value="0.86"
                data-animation-start-value="0.86"
                data-size="32"
                data-thickness="3"
                data-fill="{
                  &quot;color&quot;: &quot;#42b740&quot;
                            }"
                data-empty-fill="#def6de"
                data-reverse="true"
              ><span style="color:#42b740;">8.6</span></div>
            </div><!-- close .item-listing-text-skrn-vertical-align -->
          </div><!-- close .item-listing-text-skrn -->
        </div><!-- close .item-listing-container-skrn -->
      </div><!-- close .col -->
      {% endfor %}
      {% endif %}                  
    </div><!-- close .row -->	
  </div>
</section>
{% endblock %}