{% extends 'dashboard/base.html' %}
{% load static %}
{% load format_duration %}

{% block title %}Momentum | Management Dashboard gestão movie   {% endblock %}


{% block dashboard %}
<style>
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
.courses-container 
{
	width: 100%;	
}

.course {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 100%;
	margin: 20px;
	overflow: hidden;
	width:95%;
}

.course h6 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #ccc;
	font-family: 'Muli', sans-serif;
}

.course h2 {
	letter-spacing: 1px;
	margin: 10px 0;
	color: #fff;
	font-family: 'Muli', sans-serif;
}

.course-preview {
	background-color: #2A265F;
    color: #fff;
    padding: 98px;
    max-width: 339px;
    height: 272px;
    margin-top: 18px;
    left: 11px;
    position: relative;
	
}

.course-preview a {
	color: #fff;
	display: inline-block;
	font-size: 12px;
	opacity: 0.6;
	margin-top: 30px;
	text-decoration: none;
	font-family: 'Muli', sans-serif;
}

.course-info {
	padding: 30px;
	position: relative;
	width: 100%;
}

.course-info h2
{
	color: #000;
	font-family: 'Muli', sans-serif;
}

.progress-container {
	position: absolute;
	top: 30px;
	right: 30px;
	text-align: right;
	width: 150px;
}
.progress-text {
	font-size: 10px;
	opacity: 0.6;
	letter-spacing: 1px;
}



.leitura-rating
{
	top: 19px;
}

.leitura-rating span
{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	position: absolute;
	top: 9px;
	left: 9px;
	line-height: 32px;
	width: 32px;
	text-align: center;
	font-size: 19px;
}
.checked {
  color: orange;
}

.total-rating
{
	font-family: 'Montserrat', sans-serif;
}
@media screen and (max-width: 480px) {

	.social-panel-container.visible {
		transform: translateX(0px);
	}
	
	.floating-btn {
		right: 10px;
	}
}
</style>
<div style="height: 110px!important;" class="section-header">
    <h5 style="margin-top: -28px; color:#cccccc;" class="position-absolute ml-2 mb-4">Dashboard</h5>
    <br>
    <h1 style="color: #8898aa; font-size: 40px;" class="mt-4 ml-2">Livros</h1>
    <div class="section-header-breadcrumb">       
        <i style="font-size: 70px; color: #000066;" class="fas fa-book"></i>
    </div>
</div>

<h4 class="heading-extra-margin-bottom mt-5">Leituras</h4>
		<div class="row">
	{% if leituras %}
		{% for leitura in leituras %}
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
			<div class="courses-container">
				<div class="course">
					<a href="{% url 'livros:leitura_details' leitura.id %}">
						<div class="course-preview" data-background="">
							<img  style="position: absolute; top: 0; left: 0; width: 100%" src="{{ leitura.livro.capa }}" alt="">
						</div>
					</a>
					<div class="course-info">
						<div class="progress-container">
							<div style="width: 100%; height: 5px;" class="progress mt-3">
								<div class="progress-bar bg-warning" title=" {{ leitura.complete_per }}%" role="progressbar" style="width: {{ leitura.complete_per }}%;" aria-valuenow="{{ leitura.complete_per}}" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<span class="progress-text">
								{{ leitura.complete_per}}% Total lido
							</span>
						</div>
						<h6>Livro</h6>
						<a href="{% url 'livros:leitura_details' leitura.id %}"><h2>{{ leitura.livro |truncatechars:37 }}</h2></a>
						<a href="#">Autor: {% for autor in leitura.livro.autor.all %} <span class="text-dark">{{ autor}},{% endfor%}</span></a>
						<br>
						<a href="#">Data do Inicio: <span class="text-dark">{{ leitura.inicio  |date}}</span></a>
						<br>
						{% if leitura.termino == None%}
						<a href="#">Data do termino: <span class="text-dark">O livro ainda está sendo lido</span></a>
						{% else %}
						<a href="#">Data do termino: <span class="text-dark">{{ leitura.termino }}</span></a>
						{% endif %}
						<br>
						<a href="#">Páginas completas: <span class="text-dark">{{ leitura.paginas_restante }} / {{ leitura.paginas }}</span></a>
						<br>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="total-rating">( <span style="font-size: 12px;">{{ leitura.livro.Votes_Count }}</span> )</span>
						<br>
						
						<div
						class="circle-rating-pro leitura-rating"
						data-value="{{ leitura.livro.Average_Count }}"
						data-animation-start-value="{{ leitura.livro.Average_Count }}"
						data-size="48"
						data-thickness="4"
						{% if movie.Average_Count == '0.6' %}
						data-fill="{
						&quot;color&quot;: &quot;#e6e600&quot;
						}"
						{% elif movie.Average_Count == '0.59' %}
						data-fill="{
						&quot;color&quot;: &quot;#e6e600&quot;
						}"
						{% elif movie.Average_Count == '0.58' %}
						data-fill="{
						&quot;color&quot;: &quot;#e6e600&quot;
						}"
						{% elif movie.Average_Count == '0.57' %}
						data-fill="{
						&quot;color&quot;: &quot;#e6e600&quot;
						}"
						{% elif movie.Average_Count == '0.56' %}
						data-fill="{
						&quot;color&quot;: &quot;#e6e600&quot;
						}"
						{% elif movie.Average_Count == '0.55' %}
						data-fill="{
						&quot;color&quot;: &quot;#e6e600&quot;
						}"
						{% elif movie.Average_Count == '0.54' %}
						data-fill="{
						&quot;color&quot;: &quot;#e6e600&quot;
						}"
						{% elif movie.Average_Count == '0.53' %}
						data-fill="{
						&quot;color&quot;: &quot;#e6e600&quot;
						}"
						{% elif movie.Average_Count == '0.52' %}
						data-fill="{
						&quot;color&quot;: &quot;#e6e600&quot;
						}"
						{% elif movie.Average_Count == '0.51' %}
						data-fill="{
						&quot;color&quot;: &quot;#e6e600&quot;
						}"
						{% elif movie.Average_Count == '0.50' %}
						data-fill="{
						&quot;color&quot;: &quot;#e6e600&quot;
						}"
						{% elif movie.Average_Count == '0.49' %}
						data-fill="{
						&quot;color&quot;: &quot;#e6e600&quot;
						}"
						{% elif movie.Average_Count == '0.48' %}
						data-fill="{
						&quot;color&quot;: &quot;#e6e600&quot;
						}"
						{% elif movie.Average_Count == '0.47' %}
						data-fill="{
						&quot;color&quot;: &quot;#e6e600&quot;
						}"
						{% elif movie.Average_Count == '0.46' %}
						data-fill="{
						&quot;color&quot;: &quot;#e6e600&quot;
						}"
						{% elif movie.Average_Count == '0.45' %}
						data-fill="{
						&quot;color&quot;: &quot;#e6e600&quot;
						}"
						{% elif movie.Average_Count == '0.44' %}
						data-fill="{
						&quot;color&quot;: &quot;#e6e600&quot;
						}"
						{% elif movie.Average_Count == '0.43' %}
						data-fill="{
						&quot;color&quot;: &quot;#e6e600&quot;
						}"
						{% elif movie.Average_Count == '0.42' %}
						data-fill="{
						&quot;color&quot;: &quot;#e6e600&quot;
						}"
						{% elif movie.Average_Count == '0.41' %}
						data-fill="{
						&quot;color&quot;: &quot;#e6e600&quot;
						}"
						{% elif movie.Average_Count == '0.40' %}
						data-fill="{
						&quot;color&quot;: &quot;#e6e600&quot;
						}"
						{% elif movie.Average_Count == '0.39' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif movie.Average_Count == '0.38' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif movie.Average_Count == '0.37' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif movie.Average_Count == '0.36' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif movie.Average_Count == '0.35' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif movie.Average_Count == '0.34' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif movie.Average_Count == '0.33' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif movie.Average_Count == '0.32' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif movie.Average_Count == '0.31' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif movie.Average_Count == '0.30' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif movie.Average_ount == '0.29' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif movie.Average_ount == '0.28' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif movie.Average_ount == '0.27' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif movie.Average_ount == '0.26' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif movie.Average_ount == '0.25' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif movie.Average_ount == '0.24' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif movie.Average_ount == '0.23' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif movie.Average_ount == '0.22' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif movie.Average_ount == '0.21' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif movie.Average_ount == '0.20' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif movie.Average_Count == '0.19' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif movie.Average_Count == '0.18' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif movie.Average_Count == '0.17' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif movie.Average_Count == '0.16' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif movie.Average_Count == '0.15' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif movie.Average_Count == '0.14' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif movie.Average_Count == '0.13' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif movie.Average_Count == '0.12' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif movie.Average_Count == '0.11' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif movie.Average_Count == '0.10' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif movie.Average_Count == '0.9' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif movie.Average_Count == '0.8' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif movie.Average_Count == '0.7' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif movie.Average_Count == '0.6' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif movie.Average_Count == '0.5' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif movie.Average_Count == '0.4' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif movie.Average_Count == '0.3' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif movie.Average_Count == '0.2' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif movie.Average_Count == '0.1' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif movie.Average_Count == '0.0' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% else %}
						data-fill="{
							&quot;color&quot;: &quot;#42b740&quot;
							}"
						{% endif %}
						data-empty-fill="#ffe1e1"
						data-reverse="true"
					>{% if movie.Average_Count == '0.6' %}
					<span style="color:#e6e600;">{{ movie.Average_Rating }}</span>
					{% elif movie.Average_Count == '0.59' %}
					<span style="color:#e6e600;">{{ movie.Average_Rating }}</span>
					{% elif movie.Average_Count == '0.58' %}
					<span style="color:#e6e600;">{{ movie.Average_Rating }}</span>
					{% elif movie.Average_Count == '0.57' %}
					<span style="color:#e6e600;">{{ movie.Average_Rating }}</span>
					{% elif movie.Average_Count == '0.56' %}
					<span style="color:#e6e600;">{{ movie.Average_Rating }}</span>
					{% elif movie.Average_Count == '0.55' %}
					<span style="color:#e6e600;">{{ movie.Average_Rating }}</span>
					{% elif movie.Average_Count == '0.54' %}
					<span style="color:#e6e600;">{{ movie.Average_Rating }}</span>
					{% elif movie.Average_Count == '0.53' %}
					<span style="color:#e6e600;">{{ movie.Average_Rating }}</span>
					{% elif movie.Average_Count == '0.52' %}
					<span style="color:#e6e600;">{{ movie.Average_Rating }}</span>
					{% elif movie.Average_Count == '0.51' %}
					<span style="color:#e6e600;">{{ movie.Average_Rating }}</span>
					{% elif movie.Average_Count == '0.50' %}
					<span style="color:#e6e600;">{{ movie.Average_Rating }}</span>
					{% elif movie.Average_Count == '0.49' %}
					<span style="color:#e6e600;">{{movie.Average_Rating }}</span>
					{% elif movie.Average_Count == '0.48' %}
					<span style="color:#e6e600;">{{movie.Average_Rating }}</span>
					{% elif movie.Average_Count == '0.47' %}
					<span style="color:#e6e600;">{{movie.Average_Rating }}</span>
					{% elif movie.Average_Count == '0.46' %}
					<span style="color:#e6e600;">{{movie.Average_Rating }}</span>
					{% elif movie.Average_Count == '0.45' %}
					<span style="color:#e6e600;">{{movie.Average_Rating }}</span>
					{% elif movie.Average_Count == '0.44' %}
					<span style="color:#e6e600;">{{movie.Average_Rating }}</span>
					{% elif movie.Average_Count == '0.43' %}
					<span style="color:#e6e600;">{{movie.Average_Rating }}</span>
					{% elif movie.Average_Count == '0.42' %}
					<span style="color:#e6e600;">{{movie.Average_Rating }}</span>
					{% elif movie.Average_Count == '0.41' %}
					<span style="color:#e6e600;">{{movie.Average_Rating }}</span>
					{% elif movie.Average_Count == '0.40' %}
					<span style="color:#e6e600;">{{movie.Average_Rating }}</span>
					{% elif movie.Average_Count == '0.39' %}
					<span style="color:#ff4141;">{{ movie.Average_Rating }}</span>
					{% elif movie.Average_Count == '0.38' %}
					<span style="color:#ff4141;">{{ movie.Average_Rating }}</span>
					{% elif movie.Average_Count == '0.37' %}
					<span style="color:#ff4141;">{{ movie.Average_Rating }}</span>
					{% elif movie.Average_Count == '0.36' %}
					<span style="color:#ff4141;">{{ movie.Average_Rating }}</span>
					{% elif movie.Average_Count == '0.35' %}
					<span style="color:#ff4141;">{{ movie.Average_Rating }}</span>
					{% elif movie.Average_Count == '0.34' %}
					<span style="color:#ff4141;">{{ movie.Average_Rating }}</span>
					{% elif movie.Average_Count == '0.33' %}
					<span style="color:#ff4141;">{{ movie.Average_Rating }}</span>
					{% elif movie.Average_Count == '0.32' %}
					<span style="color:#ff4141;">{{ movie.Average_Rating }}</span>
					{% elif movie.Average_Count == '0.31' %}
					<span style="color:#ff4141;">{{ movie.Average_Rating }}</span>
					{% elif movie.Average_Count == '0.30' %}
					<span style="color:#ff4141;">{{ movie.Average_Rating }}</span>
					{% elif movie.Average_Count == '0.29' %}
					<span style="color:#ff4141;">{{ movie.Average_Rating }}</span>
					{% elif movie.Average_Count == '0.28' %}
					<span style="color:#ff4141;">{{ movie.Average_Rating }}</span>
					{% elif movie.Average_Count == '0.27' %}
					<span style="color:#ff4141;">{{ movie.Average_Rating }}</span>
					{% elif movie.Average_Count == '0.26' %}
					<span style="color:#ff4141;">{{ movie.Average_Rating }}</span>
					{% elif movie.Average_Count == '0.25' %}
					<span style="color:#ff4141;">{{ movie.Average_Rating }}</span>
					{% elif movie.Average_Count == '0.24' %}
					<span style="color:#ff4141;">{{ movie.Average_Rating }}</span>
					{% elif movie.Average_Count == '0.23' %}
					<span style="color:#ff4141;">{{ movie.Average_Rating }}</span>
					{% elif movie.Average_Count == '0.22' %}
					<span style="color:#ff4141;">{{ movie.Average_Rating }}</span>
					{% elif movie.Average_Count == '0.21' %}
					<span style="color:#ff4141;">{{ movie.Average_Rating }}</span>
					{% elif movie.Average_Count == '0.20' %}
					<span style="color:#ff4141;">{{ movie.Average_Rating }}</span>
					{% elif movie.Average_Count == '0.19' %}
					<span style="color:#ff4141;">{{ movie.Average_Rating}}</span>
					{% elif movie.Average_Count == '0.18' %}
					<span style="color:#ff4141;">{{ movie.Average_Rating}}</span>
					{% elif movie.Average_Count == '0.17' %}
					<span style="color:#ff4141;">{{ movie.Average_Rating}}</span>
					{% elif movie.Average_Count == '0.16' %}
					<span style="color:#ff4141;">{{ movie.Average_Rating}}</span>
					{% elif movie.Average_Count == '0.15' %}
					<span style="color:#ff4141;">{{ movie.Average_Rating}}</span>
					{% elif movie.Average_Count == '0.14' %}
					<span style="color:#ff4141;">{{ movie.Average_Rating}}</span>
					{% elif movie.Average_Count == '0.13' %}
					<span style="color:#ff4141;">{{ movie.Average_Rating}}</span>
					{% elif movie.Average_Count == '0.12' %}
					<span style="color:#ff4141;">{{ movie.Average_Rating}}</span>
					{% elif movie.Average_Count == '0.11' %}
					<span style="color:#ff4141;">{{ movie.Average_Rating}}</span>
					{% elif movie.Average_Count == '0.10' %}
					<span style="color:#ff4141;">{{ movie.Average_Rating}}</span>
					{% elif movie.Average_Count == '0.09' %}
					<span style="color:#ff4141;">{{ movie.Average_Rating }}</span>
					{% elif movie.Average_Count == '0.08' %}
					<span style="color:#ff4141;">{{ movie.Average_Rating }}</span>
					{% elif movie.Average_Count == '0.07' %}
					<span style="color:#ff4141;">{{ movie.Average_Rating }}</span>
					{% elif movie.Average_Count == '0.06' %}
					<span style="color:#ff4141;">{{ movie.Average_Rating }}</span>
					{% elif movie.Average_Count == '0.05' %}
					<span style="color:#ff4141;">{{ movie.Average_Rating }}</span>
					{% elif movie.Average_Count == '0.04' %}
					<span style="color:#ff4141;">{{ movie.Average_Rating }}</span>
					{% elif movie.Average_Count == '0.03' %}
					<span style="color:#ff4141;">{{ movie.Average_Rating }}</span>
					{% elif movie.Average_Count == '0.02' %}
					<span style="color:#ff4141;">{{ movie.Average_Rating }}</span>
					{% elif movie.Average_Count == '0.01' %}
					<span style="color:#ff4141;">{{ movie.Average_Rating }}</span>
					{% elif movie.Average_Count == '0.0' %}
					<span style="color:#ff4141;">{{ movie.Average_Rating }}</span>
					{% else %}
					<span style="color:#42b740;">{{ leitura.livro.Average_Rating }}</span>
					{% endif %}
					</div><!-- close .item-listing-text-skrn-vertical-align --><!-- close .item-listing-text-skrn-vertical-align -->
					</div>
				</div>
			</div>
        </div><!-- close .row -->	
		{% endfor %}
{% else %}

<div class="col-12 col-md-12 col-lg-12 col-xl-12 mb-5">
	<div class="card card-playlist shadow rounded ">
		<div class="playlist p-5">
			<div class="section-titles">
			  <div class="section-subtitle"><i class="fab fa-leanpub"></i>Leitura</div>
			  <h2 class="section-main-title">Os melhores livros para uma boa <strong>Leitura</strong></h2>
			</div>
			<div class="about-item">
			  <p class="text-dark">
				Os melhores filmes baseados em grandes histórias da literatura, aqui você encontra a lista completa de filmes que <strong class="strong">Foram</strong> lançamentos e estreias nos Cinemas.
			  </p>
			</div>
		  </div>           
	</div>
</div>


		</div>
	</div>
	
{% endif %}
{% endblock  %}


