{% extends 'dashboard/base.html' %}
{% load static %}
{% load format_duration %}


{% block dashboard %}
<link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700"
rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900"
rel="stylesheet">
<!-- //Fonts -->

<style>
    
/* social icons */
.w3layouts_social_list li {
    display: inline-block;
}

.w3layouts_social_list li a {
    width: 34px;
    height: 34px;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    border-radius: 50%;
    margin: 0 0.5em;
}

.w3layouts_social_list li a span {
    color: #fff;
    line-height: 34px;
}

a.w3pvt_facebook {
    background: #3b5998;
}

a.w3pvt_twitter {
    background: #1da1f2;
}

a.w3pvt_dribble {
    background: #ea4c89;
}

a.w3pvt_google {
    background: #F44336;
}

</style>
<h4 class="heading-extra-margin-bottom mt-5">Título: <span style="color: #73818d">{{ livro.Title }}</span></h4>
		<div class="row">
		{% if livro %}		
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
			<div class="courses-container">
                <div class="left-ads-display col-lg-11">
                    <div class="row">
                        <div class="desc1-left col-md-4">
                            <img src="{{ livro.Poster_url }}" class="img-fluid" alt="{{ livro.Title }}">
                        </div>
                        <div class="desc1-right col-md-6 pl-lg-12">
                            <ul>
                                <li style="list-style: none"><span><b>Data de Publicação: </b>{{livro.Publish |date }}</span></li>
                                <li style="list-style: none"><span><b>Popularidade: </b>{{ livro.Popularity }}</span>
                                </li>
                                <li style="list-style: none"><span><b>Gêneros:</b>{% for genero in livro.Genero.all %} <span>{{ genero }}, </span>{% endfor %}</span>
                                </li>
                                <li style="list-style: none">
                                    <span><b>Edição: </b>{{ livro.Edicao}}º</span></li>
                                <li style="list-style: none"><span><b>Editora: </b> {{ livro.Editora }}</span></li>
                                <li style="list-style: none"><span><b>Idioma:</b> {{ livro.Linguagem }}</span>
                                </li>
                                <li style="list-style: none"><span><b>Total de Páginas:</b> {{ livro.Paginas}}</span>
                                </li>
                                <li style="list-style: none">
                                    <span><b>ISBN:</b> {{ livro.ISBN }}</span></li>
                                <li style="list-style: none">
                                    <span><b>Total de votos:</b> {{ livro.Votes_Count }}</span></li>
                                <li style="list-style: none"><span><b>Likes:</b> {{ livro.Likes }}</span>
                                </li>
                                {% if livro.total_horas == '00:00:00' %}                               
                                <li style="list-style: none"><span><b>Total de horas de leitura:</b> 00:00:00</span>
                                </li>
                                {% else %}
                                <li style="list-style: none"><span><b>Total de horas de leitura:</b> {{ livro.total_horas | duration }}</span>
                                </li>
                                {% endif %}
                                <li style="list-style: none; ;">
                                    <a style="color: #73818d" href="#"><b>Avaliação:</b>
                                    <span class="fa fa-star" aria-hidden="true"
                                          style="outline: none; cursor: inherit;  color: orange;"></span>
                                        <span class="fa fa-star" aria-hidden="true"
                                              style="outline: none; cursor: inherit; color: orange;"></span>
                                        <span class="fa fa-star" aria-hidden="true"
                                              style="outline: none; cursor: inherit; color: orange;"></span>
                                        <span class="fa fa-star" aria-hidden="true"
                                              style="outline: none; cursor: inherit; color: orange;"></span>
                                        <span class="fa fa-star" aria-hidden="true"
                                              style="outline: none; cursor: inherit; color: orange;"></span>
                                        <span class="editContent"
                                              style="outline: none; cursor: inherit;">{{ livro.Average_Rating }}</span>
                                    </a>
                                </li>
                                <div class="share-desc mt-2">
                                    <div class="share">
                                        <h4 class="editContent"
                                            style="outline: none; cursor: inherit;">
                                            Compartilhação:</h4>
                                        <ul class="w3layouts_social_list list-unstyled">
                                            <li>
                                                <a href="#" class="w3pvt_facebook editContent"
                                                   style="outline: none; cursor: inherit;">
                                                <span class="fa fa-facebook-f"
                                                      style="outline: none; cursor: inherit;"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="w3pvt_twitter editContent"
                                                   style="outline: none; cursor: inherit;">
                                                <span class="fa fa-twitter"
                                                      style="outline: none; cursor: inherit;"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="w3pvt_dribble editContent"
                                                   style="outline: none; cursor: inherit;">
                                                <span class="fa fa-dribbble"
                                                      style="outline: none; cursor: inherit;"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                        </div>
                    </div>
                    <div class="row sub-para-w3layouts mt-5">
                        <h3 class="shop-sing editContent">Autores:</h3> 
                                           
                        <div class="col-md-12 mb-5">
                            <div class="row"> 
                                {% for autor in livro.Autor.all %}
                                <div class="col-md-2">
                                   
                                    <img src="{{ autor.picture }}" class="rounded " alt="">
                                    
                                </div>
                                <div class="col-md-2">
                                   <span class="text-dark">Nome:</span> 
                                    <span>{{ autor }},</span>
                                </div>
                                {% endfor%} 
                            </div>
                            

                        </div>
                        <br>
                        <h3 class="shop-sing editContent" style="outline: none; cursor: inherit;">
                            Descrição: </h3>                        
                        <p class="editContent text-justify" style="outline: none; cursor: inherit;">Сара Коннор
                           {{ livro.Descricao }}</p>
                    
                     
                    </div>
                    <hr>
                    <div class="row">
                        <div class="single-form-left">
                            <!-- contact form grid -->
                            <div class="contact-single">
                                <h3 class="editContent" style="outline: none; cursor: inherit;">
                                    <span class="sub-tittle editContent"
                                          style="outline: none; cursor: inherit;">02  </span>Comentários</h3>
                                <form action="#" method="get" class="mt-4">
                                    <div class="form-group editContent"
                                         style="outline: none; cursor: inherit;">
                                        <label for="contactcomment" class="editContent"
                                               style="outline: none; cursor: inherit;">deixe seu comentário
                                            *</label>
                                        <textarea class="form-control border" rows="5"
                                                  id="contactcomment" required=""></textarea>
                                    </div>
                                    <div class="d-sm-flex">
                                        <div class="col-sm-6 form-group p-0 editContent"
                                             style="outline: none; cursor: inherit;">
                                            <label for="contactusername" class="editContent"
                                                   style="outline: none; cursor: inherit;">Nome
                                                *</label>
                                            <input type="text" class="form-control border"
                                                   id="contactusername" required="">
                                        </div>
                                        <div class="col-sm-6 form-group ml-sm-3 editContent"
                                             style="outline: none; cursor: inherit;">
                                            <label for="contactemail" class="editContent"
                                                   style="outline: none; cursor: inherit;">Email
                                                *</label>
                                            <input type="email" class="form-control border"
                                                   id="contactemail" required="">
                                        </div>
                                    </div>
                                    <button type="submit"
                                            class="mt-3 btn btn-success btn-block py-3"
                                            style="outline: none; cursor: inherit;">Enviar
                                    </button>
                                </form>
                            </div>
                            <!--  //contact form grid ends here -->
                        </div>
                        <div class="media py-5">
                            <img src="{% static 'img/te2.jpg' %}" class="mr-3 img-fluid rounded-circle" alt="image"
                                 style="outline: none; cursor: inherit;">
                            <div class="media-body mt-4">
                                <h5 class="mt-0 editContent"
                                    style="outline: none; cursor: inherit;">Daniel Doe</h5>
                                <p class="mt-2 editContent" style="outline: none; cursor: inherit;">
                                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
                                    scelerisque ante sollicitudin. Cras purus odio, vestibulum in
                                    vulputate at, tempus viverra turpis.
                                </p>
                                <div class="media mt-5 editContent"
                                     style="outline: none; cursor: inherit;">
                                    <a class="pr-3" href="#">
                                        <img src="{% static 'img/te1.jpg' %}" class="img-fluid rounded-circle "
                                             alt="image" style="outline: none; cursor: inherit;">
                                    </a>
                                    <div class="media-body">
                                        <h5 class="mt-0 editContent"
                                            style="outline: none; cursor: inherit;">Leia Organa</h5>
                                        <p class="mt-2 editContent"
                                           style="outline: none; cursor: inherit;"> Cras sit amet
                                            nibh libero, in gravida nulla. Nulla vel metus
                                            scelerisque ante sollicitudin. Cras purus odio,
                                            vestibulum in vulputate at, tempus viverra turpis. Fusce
                                            condimentum nunc ac nisi vulputate fringilla..</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
        </div><!-- close .row -->	
	
{% else %}

<div class="col-12 col-md-12 col-lg-12 col-xl-12 mb-5">
	<div class="card card-playlist shadow rounded ">
		<div class="playlist p-5">
			<div class="section-titles">
			  <div class="section-subtitle"><i class="fab fa-leanpub"></i>Leitura</div>
			  <h2 class="section-main-title">Os melhores livros para uma boa <strong>Leitura</strong></h2>
			</div>
			<div class="about-item">
			  <p class="text-dark">
				Os melhores filmes baseados em grandes histórias da literatura, aqui você encontra a lista completa de filmes que <strong class="strong">Foram</strong> lançamentos e estreias nos Cinemas.
			  </p>
			</div>
		  </div>           
	</div>
</div>


		</div>
	</div>
	
{% endif %}
{% endblock  %}


