{% extends 'dashboard/base.html' %}
{% load static %}



{% block dashboard %}

<div class="section-body"> 

<h4 class="heading-extra-margin-bottom mt-5">Reviews</h4>
	<div class="row">
		{% if reviews %}	
		{% for review in reviews %}				
		 <div class="col-12 col-sm-6 col-md-4 col-lg-3">
			<article class="article article-style-b shadow-sm rounded mb-5">
				<div style="height: 367px;"class="article-header">
				<div class="article-image" data-background="{{ review.livro.Poster_url }}">
					<a  href="#"><img style="width: 100%; "  src="{{ review.livro.Poster_url}}" alt="Listing"></a>
				</div>						
				</div>
				<div class="item-listing-text-skrn mt-2">
				<div class="item-listing-text-skrn-vertical-align "><h6><a href="#">{{ review.livro.Title |truncatechars:14|linebreaks}}</a></h6>
					
					<div
						class="circle-rating-pro"
						data-value="{{ review.livro.Average_Count }}"
						data-animation-start-value="{{ review.livro.Average_Count }}"
						data-size="32"
						data-thickness="3"
						{% if review.livro.Average_Count == '0.6' %}
						data-fill="{
						&quot;color&quot;: &quot;#e6e600&quot;
						}"
						{% elif document.Average_Count == '0.59' %}
						data-fill="{
						&quot;color&quot;: &quot;#e6e600&quot;
						}"
						{% elif document.Average_Count == '0.58' %}
						data-fill="{
						&quot;color&quot;: &quot;#e6e600&quot;
						}"
						{% elif document.Average_Count == '0.57' %}
						data-fill="{
						&quot;color&quot;: &quot;#e6e600&quot;
						}"
						{% elif document.Average_Count == '0.56' %}
						data-fill="{
						&quot;color&quot;: &quot;#e6e600&quot;
						}"
						{% elif document.Average_Count == '0.55' %}
						data-fill="{
						&quot;color&quot;: &quot;#e6e600&quot;
						}"
						{% elif document.Average_Count == '0.54' %}
						data-fill="{
						&quot;color&quot;: &quot;#e6e600&quot;
						}"
						{% elif document.Average_Count == '0.53' %}
						data-fill="{
						&quot;color&quot;: &quot;#e6e600&quot;
						}"
						{% elif document.Average_Count == '0.52' %}
						data-fill="{
						&quot;color&quot;: &quot;#e6e600&quot;
						}"
						{% elif document.Average_Count == '0.51' %}
						data-fill="{
						&quot;color&quot;: &quot;#e6e600&quot;
						}"
						{% elif document.Average_Count == '0.50' %}
						data-fill="{
						&quot;color&quot;: &quot;#e6e600&quot;
						}"
						{% elif document.Average_Count == '0.49' %}
						data-fill="{
						&quot;color&quot;: &quot;#e6e600&quot;
						}"
						{% elif document.Average_Count == '0.48' %}
						data-fill="{
						&quot;color&quot;: &quot;#e6e600&quot;
						}"
						{% elif document.Average_Count == '0.47' %}
						data-fill="{
						&quot;color&quot;: &quot;#e6e600&quot;
						}"
						{% elif document.Average_Count == '0.46' %}
						data-fill="{
						&quot;color&quot;: &quot;#e6e600&quot;
						}"
						{% elif document.Average_Count == '0.45' %}
						data-fill="{
						&quot;color&quot;: &quot;#e6e600&quot;
						}"
						{% elif document.Average_Count == '0.44' %}
						data-fill="{
						&quot;color&quot;: &quot;#e6e600&quot;
						}"
						{% elif document.Average_Count == '0.43' %}
						data-fill="{
						&quot;color&quot;: &quot;#e6e600&quot;
						}"
						{% elif document.Average_Count == '0.42' %}
						data-fill="{
						&quot;color&quot;: &quot;#e6e600&quot;
						}"
						{% elif document.Average_Count == '0.41' %}
						data-fill="{
						&quot;color&quot;: &quot;#e6e600&quot;
						}"
						{% elif document.Average_Count == '0.40' %}
						data-fill="{
						&quot;color&quot;: &quot;#e6e600&quot;
						}"
						{% elif document.Average_Count == '0.39' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif document.Average_Count == '0.38' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif document.Average_Count == '0.37' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif document.Average_Count == '0.36' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif document.Average_Count == '0.35' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif document.Average_Count == '0.34' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif document.Average_Count == '0.33' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif document.Average_Count == '0.32' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif document.Average_Count == '0.31' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif document.Average_Count == '0.30' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif document.Average_ount == '0.29' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif document.Average_ount == '0.28' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif document.Average_ount == '0.27' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif document.Average_ount == '0.26' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif document.Average_ount == '0.25' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif document.Average_ount == '0.24' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif document.Average_ount == '0.23' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif document.Average_ount == '0.22' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif document.Average_ount == '0.21' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif document.Average_ount == '0.20' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif document.Average_Count == '0.19' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif document.Average_Count == '0.18' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif document.Average_Count == '0.17' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif document.Average_Count == '0.16' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif document.Average_Count == '0.15' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif document.Average_Count == '0.14' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif document.Average_Count == '0.13' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif document.Average_Count == '0.12' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif document.Average_Count == '0.11' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif document.Average_Count == '0.10' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif document.Average_Count == '0.09' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif document.Average_Count == '0.08' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif document.Average_Count == '0.07' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif document.Average_Count == '0.06' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif document.Average_Count == '0.05' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif document.Average_Count == '0.04' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif document.Average_Count == '0.03' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif document.Average_Count == '0.02' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif document.Average_Count == '0.01' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% elif document.Average_Count == '0.0' %}
						data-fill="{
						&quot;color&quot;: &quot;#ff4141&quot;
						}"
						{% else %}
						data-fill="{
							&quot;color&quot;: &quot;#42b740&quot;
							}"
						{% endif %}
						data-empty-fill="#ffe1e1"
						data-reverse="true"
					>{% if review.livro.Average_Count == '0.6' %}
					<span style="color:#e6e600;">{{ review.livro.Average_Rating }}</span>
					{% elif document.Average_Count == '0.59' %}
					<span style="color:#e6e600;">{{ document.Average_Rating }}</span>
					{% elif document.Average_Count == '0.58' %}
					<span style="color:#e6e600;">{{ document.Average_Rating }}</span>
					{% elif document.Average_Count == '0.57' %}
					<span style="color:#e6e600;">{{ document.Average_Rating }}</span>
					{% elif document.Average_Count == '0.56' %}
					<span style="color:#e6e600;">{{ document.Average_Rating }}</span>
					{% elif document.Average_Count == '0.55' %}
					<span style="color:#e6e600;">{{ document.Average_Rating }}</span>
					{% elif document.Average_Count == '0.54' %}
					<span style="color:#e6e600;">{{ document.Average_Rating }}</span>
					{% elif document.Average_Count == '0.53' %}
					<span style="color:#e6e600;">{{ document.Average_Rating }}</span>
					{% elif document.Average_Count == '0.52' %}
					<span style="color:#e6e600;">{{ document.Average_Rating }}</span>
					{% elif document.Average_Count == '0.51' %}
					<span style="color:#e6e600;">{{ document.Average_Rating }}</span>
					{% elif document.Average_Count == '0.50' %}
					<span style="color:#e6e600;">{{ document.Average_Rating }}</span>
					{% elif document.Average_Count == '0.49' %}
					<span style="color:#e6e600;">{{document.Average_Rating }}</span>
					{% elif document.Average_Count == '0.48' %}
					<span style="color:#e6e600;">{{document.Average_Rating }}</span>
					{% elif document.Average_Count == '0.47' %}
					<span style="color:#e6e600;">{{document.Average_Rating }}</span>
					{% elif document.Average_Count == '0.46' %}
					<span style="color:#e6e600;">{{document.Average_Rating }}</span>
					{% elif document.Average_Count == '0.45' %}
					<span style="color:#e6e600;">{{document.Average_Rating }}</span>
					{% elif document.Average_Count == '0.44' %}
					<span style="color:#e6e600;">{{document.Average_Rating }}</span>
					{% elif document.Average_Count == '0.43' %}
					<span style="color:#e6e600;">{{document.Average_Rating }}</span>
					{% elif document.Average_Count == '0.42' %}
					<span style="color:#e6e600;">{{document.Average_Rating }}</span>
					{% elif document.Average_Count == '0.41' %}
					<span style="color:#e6e600;">{{document.Average_Rating }}</span>
					{% elif document.Average_Count == '0.40' %}
					<span style="color:#e6e600;">{{document.Average_Rating }}</span>
					{% elif document.Average_Count == '0.39' %}
					<span style="color:#ff4141;">{{ document.Average_Rating }}</span>
					{% elif document.Average_Count == '0.38' %}
					<span style="color:#ff4141;">{{ document.Average_Rating }}</span>
					{% elif document.Average_Count == '0.37' %}
					<span style="color:#ff4141;">{{ document.Average_Rating }}</span>
					{% elif document.Average_Count == '0.36' %}
					<span style="color:#ff4141;">{{ document.Average_Rating }}</span>
					{% elif document.Average_Count == '0.35' %}
					<span style="color:#ff4141;">{{ document.Average_Rating }}</span>
					{% elif document.Average_Count == '0.34' %}
					<span style="color:#ff4141;">{{ document.Average_Rating }}</span>
					{% elif document.Average_Count == '0.33' %}
					<span style="color:#ff4141;">{{ document.Average_Rating }}</span>
					{% elif document.Average_Count == '0.32' %}
					<span style="color:#ff4141;">{{ document.Average_Rating }}</span>
					{% elif document.Average_Count == '0.31' %}
					<span style="color:#ff4141;">{{ document.Average_Rating }}</span>
					{% elif document.Average_Count == '0.30' %}
					<span style="color:#ff4141;">{{ document.Average_Rating }}</span>
					{% elif document.Average_Count == '0.29' %}
					<span style="color:#ff4141;">{{ document.Average_Rating }}</span>
					{% elif document.Average_Count == '0.28' %}
					<span style="color:#ff4141;">{{ document.Average_Rating }}</span>
					{% elif document.Average_Count == '0.27' %}
					<span style="color:#ff4141;">{{ document.Average_Rating }}</span>
					{% elif document.Average_Count == '0.26' %}
					<span style="color:#ff4141;">{{ document.Average_Rating }}</span>
					{% elif document.Average_Count == '0.25' %}
					<span style="color:#ff4141;">{{ document.Average_Rating }}</span>
					{% elif document.Average_Count == '0.24' %}
					<span style="color:#ff4141;">{{ document.Average_Rating }}</span>
					{% elif document.Average_Count == '0.23' %}
					<span style="color:#ff4141;">{{ document.Average_Rating }}</span>
					{% elif document.Average_Count == '0.22' %}
					<span style="color:#ff4141;">{{ document.Average_Rating }}</span>
					{% elif document.Average_Count == '0.21' %}
					<span style="color:#ff4141;">{{ document.Average_Rating }}</span>
					{% elif document.Average_Count == '0.20' %}
					<span style="color:#ff4141;">{{ document.Average_Rating }}</span>
					{% elif document.Average_Count == '0.19' %}
					<span style="color:#ff4141;">{{ document.Average_Rating}}</span>
					{% elif document.Average_Count == '0.18' %}
					<span style="color:#ff4141;">{{ document.Average_Rating}}</span>
					{% elif document.Average_Count == '0.17' %}
					<span style="color:#ff4141;">{{ document.Average_Rating}}</span>
					{% elif document.Average_Count == '0.16' %}
					<span style="color:#ff4141;">{{ document.Average_Rating}}</span>
					{% elif document.Average_Count == '0.15' %}
					<span style="color:#ff4141;">{{ document.Average_Rating}}</span>
					{% elif document.Average_Count == '0.14' %}
					<span style="color:#ff4141;">{{ document.Average_Rating}}</span>
					{% elif document.Average_Count == '0.13' %}
					<span style="color:#ff4141;">{{ document.Average_Rating}}</span>
					{% elif document.Average_Count == '0.12' %}
					<span style="color:#ff4141;">{{ document.Average_Rating}}</span>
					{% elif document.Average_Count == '0.11' %}
					<span style="color:#ff4141;">{{ document.Average_Rating}}</span>
					{% elif document.Average_Count == '0.10' %}
					<span style="color:#ff4141;">{{ document.Average_Rating}}</span>
					{% elif document.Average_Count == '0.09' %}
					<span style="color:#ff4141;">{{ document.Average_Rating }}</span>
					{% elif document.Average_Count == '0.08' %}
					<span style="color:#ff4141;">{{ document.Average_Rating }}</span>
					{% elif document.Average_Count == '0.07' %}
					<span style="color:#ff4141;">{{ document.Average_Rating }}</span>
					{% elif document.Average_Count == '0.06' %}
					<span style="color:#ff4141;">{{ document.Average_Rating }}</span>
					{% elif document.Average_Count == '0.05' %}
					<span style="color:#ff4141;">{{ document.Average_Rating }}</span>
					{% elif document.Average_Count == '0.04' %}
					<span style="color:#ff4141;">{{ document.Average_Rating }}</span>
					{% elif document.Average_Count == '0.03' %}
					<span style="color:#ff4141;">{{ document.Average_Rating }}</span>
					{% elif document.Average_Count == '0.02' %}
					<span style="color:#ff4141;">{{ document.Average_Rating }}</span>
					{% elif document.Average_Count == '0.01' %}
					<span style="color:#ff4141;">{{ document.Average_Rating }}</span>
					{% elif document.Average_Count == '0.0' %}
					<span style="color:#ff4141;">{{ document.Average_Rating }}</span>
					{% else %}
					<span style="color:#42b740;">{{ review.livro.Average_Rating }}</span>
					{% endif %}
					</div><!-- close .item-listing-text-skrn-vertical-align -->
				</div><!-- c-->
				
			</article>
		</div><!-- close .col -->
		 {% endfor  %}
		 {% else %}
		 <div  class="col-12 col-md-12 col-lg-12 col-xl-12 mb-5">
			<div  class="card ">
				<div class="playlist p-5">
				 <div class="section-titles">
				   <div class="section-subtitle"><img class="mr-2" style="width: 50px;" src="{% static 'img/reviews.png' %}" alt="Reviews">Reviews</div>
				   <h2 class="section-main-title">Os livros que já tem suas <strong>Avaliações</strong></h2>
				 </div>
				 <div class="about-item">
				   <p class="text-dark">
					 Os melhores filmes baseados em grandes histórias da literatura, aqui você encontra a lista completa de filmes que <strong class="strong">Foram</strong> lançamentos e estreias nos Cinemas.
				   </p>
				 </div>
				</div>           
			</div>
		  </div>
		{% endif %}					

					
	</div><!-- close .row -->
</div>
{% endblock  %}

